<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refined Luxe Travel</title>

    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="EffectiveSource">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <link rel="icon" href="~/img/favicon.ico">

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/plugins/plugins_styles.css" rel="stylesheet">

    <!--THEME STYLE-->
    <link href="~/css/site_layout.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="~/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page_wrapperDIV">

        <!-- Header Combo-->
        <header class="header_section" id="headerBannerSection">
            <!--Navigation header_wrap -->
            <div class="header_wrap">
                <div class="header_brandInfo">
                    <div class="container">
                        <div class="nav_combo_block">
                            <div class="Header_logo main-logo"><a href="/"><img src="~/images/site_logo.webp" alt="" title="" /></a></div>

                            <!--Header Right-->
                            <div class="outer-box">
                                <div class="service_wrapper headerRight_contactInfo">
                                    <a href="mailto:lissa@refinedluxetravel.com" class="emailAddress">lissa@refinedluxetravel.com</a>
                                    <a href="tel:702- 527-0939" class="sitePhoneNo">702- 527-0939</a>
                                    <a href="tel:702- 527-0939" class="headerBtn portalLoginBtn">SCHEDULE DISCOVERY CALL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="siteNavigationSection">
                    <div class="container">
                        <!--Nav Box-->
                        <div class="nav-outer">
                            <!-- Main Menu -->
                            <nav class="navigation_combo navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav_multilabel clearfix">
                                        <li class="current"><a class="close-btn" href="#headerBannerSection"><span>Home</span></a></li>
                                        <li class=""><a class="close-btn" href="#aboutUsSection"><span>About</span></a></li>
                                        <li class=""><a class="close-btn" href="#servicesSection"><span>Services</span></a></li>
                                        <li class=""><a class="close-btn" href="#processSection"><span>Process</span></a></li>
                                        <li class=""><a class="close-btn" href="#blogSection"><span>Blog</span></a></li>
                                        <li class=""><a class="close-btn" href="#testmonialsSection"><span>Testmonials</span></a></li>
                                        <li class=""><a class="close-btn" href="#contactSection"><span>Contact</span></a></li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->

                            <div class="followMe_socialLink">
                                <a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Navigation header_wrap -->
            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="header_wrap">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </div>
            </div><!-- End Sticky Menu -->
            <!-- Mobile Header -->
            <div class="mobileNavCombo_header">
                <!--<div class="Header_logo main-logo"><a href="index.html"><img src="~/images/site_logo.webp" alt="" title="" /></a></div>-->
                <div class="sitePhoneMobile"><a href="tel:702- 527-0939"><i class="fa fa-phone"></i></a></div>
                <div class="siteTitleMobile">Refined Luxe Travel</div>
                <div class="mobileHeader_Right">
                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </div>
                </div>

                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <span class="mobile-menu-back-drop"></span>
                    <div class="menu-outer">
                        <!--<a href="javascript:void()" class="close-btn close-btn-place closeIconBtn">&nbsp;</a>-->
                        <!--
                        <a href="" class="close-btn">
                           <div class="menu btn2" data-menu="2">
                               <div class="icon"></div>
                           </div>
                        </a>-->
                        <nav class="nav_combo_block">
                            <!--<div class="nav-logo"><a href="index.html"><img src="~/images/site_logo.webp" alt="" title="" /></a></div>-->
                            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                        </nav>
                        <!--
                        <div class="service_wrapper headerRight_contactInfo">
                            <a href="mailto:lissa@refinedluxetravel.com" class="emailAddress">lissa@refinedluxetravel.com</a>
                            <a href="tel:702- 527-0939" class="sitePhoneNo">702- 527-0939</a>

                            <a href="contact_us.html" class="headerBtn demoRequestBtn">SCHEDULE DISCOVERY CALL</a>
                        </div> -->

                    </div>
                </div><!-- End Mobile Menu -->
            </div>


        </header>




        @RenderBody()



        <!-- =========== Footer Area Start =========== -->
        <footer id="section_block" class="footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="quickLinksBlock">
                            <div class="ft_logoBlock">
                                <img src="~/images/site_logo.webp" />
                            </div>
                            <p><strong>Phone :</strong> 702- 527-0939<br></p>
                            <p><strong>Email :</strong> lissa@refinedluxetravel.com<br></p>
                            <p>CALIFORNIA CST 2055333-40<br> FLORIDA ST32940<br> WASHINGTON 601809585 </p>

                            <div class="followMe_info">
                                <div class="followMe_socialLink">
                                    <a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="quickLinksBlock">
                            <div class="quickSupportOption">
                                <ul>
                                    <li><a href="#">HOME</a></li>
                                    <li><a href="#">ABOUT</a></li>
                                    <li><a href="#">SERVICES</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                    <li><a href="#">BLOG</a></li>
                                    <li><a href="#">TESTIMONIALS</a></li>
                                    <li><a href="#">CONTACT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ft_subscription_col">
                            <form class="travelFromStyle" action="" method="">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="" placeholder="Email" />
                                </div>
                                <div class="button_block">
                                    <button class="common_btn">SUBSCRIBE</button>
                                </div>
                            </form>
                            <div class="ft_partnerLogos">
                                <div class="partnerLogoOne"><img src="~/images/asta_logo.png" /></div>
                                <div class="partnerLogoTwo"><img src="~/images/virtuosoo_loggo.webp" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ftCopyrightBlock">
                    An independent affiliate of <em>Uniglobe Travel Center</em>
                </div>
            </div>
        </footer>
        <!-- =========== Footer Area End =========== -->
    </div>

    <!--(necessary JavaScript plugins)====================================================================== -->
    <!--<script src="~/https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!--PLUGINS-->
    <script src="~/js/plugins/wow.min.js"></script>
    <script src="~/js/plugins/easing.min.js"></script>
    <script src="~/js/plugins/swiper-bundle.min.js"></script>

    <!--Custom Scripts -->
    <script src="~/js/pixa_script.js"></script>


    <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
            const navItems = document.querySelectorAll('.nav_multilabel li');
            navItems.forEach(item => {
                item.addEventListener('click', function () {
                    navItems.forEach(nav => nav.classList.remove('current'));
                    this.classList.add('current');
                });
            });
        });</script>


</body>
</html>