@model ContactUsModel

	<!-- Swiper Single Image Slider -->
<section id="section_block" class="slideBanner_section">
    <div class="swiper-container Swiper_SingleSlider onHoverControl">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_1-2.jpg)">
                <div class="swiperBanner_caption d-none">
                    <div class="container">
                        <div class="row justify-content-center" style="display:flex;align-items:center;">
                            <div class="col-lg-7">
                                <div class="swiperBanner_capContent">
                                    <div class="swiperSlide_Info">
                                        <h5>Unforgettable travel experiences - simple & seamless.</h5>
                                        <h2>Get trustworthy travel planning from an expert</h2>
                                    </div>

                                    <div class="swiper_bannerBtn">
                                        <a href="tel:702- 527-0939" class="banner_btn">SCHEDULE DISCOVERY CALL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_2-1.jpg)">
                <div class="swiperBanner_caption d-none">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="swiperBanner_capContent">
                                    <div class="swiperSlide_Info">
                                        <h5>Unforgettable travel experiences - simple & seamless.</h5>
                                        <h2>Get trustworthy travel planning from an expert</h2>
                                    </div>

                                    <div class="swiper_bannerBtn">
                                        <a href="tel:702- 527-0939" class="banner_btn">SCHEDULE DISCOVERY CALL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_3-1.jpg)">
                <div class="swiperBanner_caption d-none">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="swiperBanner_capContent">
                                    <div class="swiperSlide_Info">
                                        <h5>Unforgettable travel experiences - simple & seamless.</h5>
                                        <h2>Get trustworthy travel planning from an expert</h2>
                                    </div>

                                    <div class="swiper_bannerBtn">
                                        <a href="tel:702- 527-0939" class="banner_btn">SCHEDULE DISCOVERY CALL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_4-3.webp)"></div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_5-2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_6-2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_7-1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_8_3.jpg)"></div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


        <div class="swiperBanner_caption bannerCaptionOverlay">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="swiperBanner_capContent">
                            <div class="swiperSlide_Info">
                                <h5>Unforgettable travel experiences - simple & seamless.</h5>
                                <h1>Get trustworthy travel planning from an expert</h1>
                            </div>

                            <div class="swiper_bannerBtn">
                                <a href="tel:702- 527-0939" class="banner_btn">SCHEDULE DISCOVERY CALL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section id="section_block" class="topPromotion_section">
        <div class="row sectionContainer">
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerOne">
                    <h2>Personalized, one-on-one service.</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerTwo">
                    <h2>Take the guess work out of travel.</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerThree">
                    <h2>Convenient communication, not call centers.</h2>
                </div>
            </div>
        </div>
    </section>
</div>

<section id="servicesSection" class="professional_travel_planing">
    <div class="container">
        <div class="sectionTitle_line">
            <h4>PROFESSIONAL TRAVEL PLANNING</h4>
            <h2>How My Trips are Different</h2>
            <hr class="dmDivider">
        </div>

        <div class="row sectionContainer">
            <div class="col-lg-4">
                <div class="pomoText_block solidColorBg bgColorOne">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <path d="M82.28,33.15a3.18,3.18,0,0,0-1.08-1.44c-.8-.56-2-.82-4.56.23A31.13,31.13,0,0,0,20.16,50q0,1.15.08,2.28l0,.07c-3.11,5.64-3.47,10.36-1,13.28a9.54,9.54,0,0,0,7.51,3.43,31.13,31.13,0,0,0,53.43-30.8C82.49,35.61,82.63,34.18,82.28,33.15Zm-2.57.69h-.07l.09,0,0,0,0,.07c0,.14-.09,1-2.2,3.17l-.22.22-.2.2-.12.12c-.86.85-2,1.88-3.49,3.12l0,0-.63.52,0,0-.7.57,0,0-.68.54-.13.1-.76.59a2.82,2.82,0,0,0-.82,1l0,0-.06.15-.06.16,0,.09c0,.08,0,.16-.06.24s0,.12,0,.18a2.81,2.81,0,0,0,0,.5l.15,3.1c0,.66.08,1.7.1,2.3v.46l.63,14.51L64.28,51.15a2.27,2.27,0,0,0-1.45-1.31l-.3-.07h-.09l-.21,0h-.1l-.27,0h0l-.29.07-.09,0-.21.08-.08,0-.27.15c-2.57,1.73-4.76,3.14-6.23,4.05l-.06,0-.36.22-.14.08-.23.14-1,.59A1.7,1.7,0,0,0,52,56.74c0,.24,0,.49,0,.74,0,.5,0,1,0,1.52-.05,1.26-.13,2.51-.2,3.54l-1.53-3.2-.78-1.64-.08-.15-.06-.09,0,0-.53-.71h0l-.06-.07,0-.05-.12-.12-4-3.57c1.41.3,3.23.71,4.92,1.16l.72.2a1.7,1.7,0,0,0,1.66-.43c.62-.62,3.36-3.1,7.16-6.28l0,0a2.26,2.26,0,0,0,.76-1.41V46s0-.1,0-.14,0-.07,0-.11h0A2.27,2.27,0,0,0,58.91,44L46.41,34l13.77,4.63.71.24,4.84,1.64a2.82,2.82,0,0,0,2.58-.4l.79-.58.15-.11.63-.45.14-.1q1.14-.81,2.12-1.45l0,0,.62-.41,0,0,.59-.38h0c.54-.34,1-.63,1.48-.89q1-.58,1.85-1l0,0C79,33.65,79.63,33.81,79.71,33.84ZM51.29,21.47a28.48,28.48,0,0,1,23,11.62c-1.23.68-2.67,1.57-4.37,2.73h0l-.91.63-.17.12-.79.56-.25.18-.89.65-.13.09a.23.23,0,0,1-.21,0l-1.47-.5-1.46-.5-8.92-3-8-2.68-.2-.05a1.7,1.7,0,0,0-1.37.31l-.72.54a2.24,2.24,0,0,0-.74,1l-.06.17,0,.07,0,.11v0s0,.09,0,.14a2.23,2.23,0,0,0,.51,1.73,2.26,2.26,0,0,0,.31.3L57,45.78c-2.12,1.78-3.93,3.36-5.22,4.51l-.22.2-.42.38-.42.38-.37.35c-1.82-.49-3.8-.94-5.31-1.26l-2.21-.45a1.68,1.68,0,0,0-.57,0h0l-.2,0-.08,0-.07,0a1.7,1.7,0,0,0-1,.91h0l0,0-.21.48a1.71,1.71,0,0,0-.13.51h0a1.7,1.7,0,0,0,0,.19s0,0,0,.07,0,.08,0,.12,0,.09,0,.14l0,.05a1.7,1.7,0,0,0,.51.85l4.78,4.25a54.22,54.22,0,0,1-13.8,7.8,17.14,17.14,0,0,1-4.14,1,28.52,28.52,0,0,1,23.32-45ZM21.17,64c-1.26-1.5-1.32-4-.23-7a30.94,30.94,0,0,0,3.78,9.26A6.74,6.74,0,0,1,21.17,64ZM51.29,78.53A28.48,28.48,0,0,1,29.8,68.76a21.64,21.64,0,0,0,3.18-.9A56.65,56.65,0,0,0,47.5,59.67l1.28,2.68,1.57,3.28a1.69,1.69,0,0,0,1.66,1h.09l.57-.07A1.73,1.73,0,0,0,54.15,65c.09-1,.39-4.58.44-7.71,1.1-.65,3.36-2.06,6.15-3.91l.12-.08L62,52.5l6.17,14.89a2.25,2.25,0,0,0,.14.28v0a2.24,2.24,0,0,0,.17.24l0,0,.19.2,0,0,.21.17,0,0,.24.13.05,0,.26.1h0l.29.06h0l.3,0h.21a2.24,2.24,0,0,0,1.15-.44l.73-.55.1-.08.06-.05,0,0a1.7,1.7,0,0,0,.45-.84v0a1.69,1.69,0,0,0,0-.18,1.72,1.72,0,0,0,0-.21l-.65-15V51c0-.56-.07-1.72-.11-2.46l-.15-3.09a.23.23,0,0,1,.09-.19l.89-.69c2.1-1.65,3.75-3.05,5-4.26A28.55,28.55,0,0,1,51.29,78.53Z"></path>
                        </svg>
                    </div>
                    <h2>Custom Designed</h2>
                    <p>Specialized knowledge that allows for a flexible trip. Available for the whole trip or just part. In the end, you’ll consider your new friend a highlight of your trip.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block solidColorBg bgColorOne">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
                            <g>
                                <path d="M60,58.7l-5-18c-0.1-0.3-0.3-0.5-0.6-0.6l-9-4C45.2,36,45,36,44.8,36l-3,0.7c-0.5,0.8-0.9,1.5-1.3,2.3l3.5-0.8v6.1l-16,7.1
		l0-9.7l2.5-0.5c-0.2-0.6-0.5-1.3-0.8-1.9L27.1,40l-8.7-3.9c-0.2-0.1-0.5-0.1-0.8,0c-0.3,0.1-0.4,0.3-0.6,0.5l-7,17
		c-0.1,0.3-0.1,0.6,0,0.8c0.1,0.3,0.3,0.4,0.6,0.5l16,5c0.2,0.1,0.4,0.1,0.6,0L45,55l13.7,4.9c0.1,0,0.2,0.1,0.3,0.1
		c0.2,0,0.5-0.1,0.7-0.3C60,59.5,60.1,59.1,60,58.7z M18.5,38.3l7.5,3.3l0,8.9l-8.9-8.9L18.5,38.3z M12.3,53.4l4-9.6l9.7,9.7v4.2
		L12.3,53.4z M44,53.2l-16,4.4v-4l16-7.1V53.2z M55.5,50.1l-6-6l3.8-1.7L55.5,50.1z M46,38.5l5.5,2.5L46,43.5V38.5z M46,53.3v-7.6
		l1.5-0.7l9,9l1,3.4L46,53.3z"></path>
                                <path d="M35,45c-0.8,0-1.3-0.5-1.6-1.5l0-0.1l-0.7-2.5c-1.3-3.7-3.6-7.5-6.7-11.1c-1.9-2.2-3-5-3-7.9C23,15.3,28.4,10,35,10
		c6.6,0,12,5.3,12,11.9c0,2.9-1.1,5.7-3,7.9c-3.1,3.6-5.4,7.3-6.7,11.1l-0.7,2.5C36.3,44.5,35.8,45,35,45z M35,12
		c-5.5,0-10,4.5-10,9.9c0,2.4,0.9,4.8,2.5,6.6c3.3,3.8,5.7,7.7,7.1,11.8l0.4,1.5l0.4-1.5c1.4-4.1,3.8-8.1,7.1-11.9
		c1.6-1.8,2.5-4.2,2.5-6.6C45,16.5,40.5,12,35,12z"></path>
                                <path d="M35,27c-2.8,0-5-2.2-5-5s2.2-5,5-5c2.8,0,5,2.2,5,5S37.8,27,35,27z M35,19c-1.7,0-3,1.3-3,3s1.3,3,3,3c1.7,0,3-1.3,3-3
		S36.7,19,35,19z"></path>
                            </g>
                        </svg>
                    </div>
                    <h2>Front of the Line</h2>
                    <p>Bypass the lines at popular attractions, VIP reservations at hotels and restaurants, private museum gallery openings, plus many more ways to beat the crowds.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block solidColorBg bgColorOne">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <path d="M23.11,13.45V75h5.65v-.86a3.44,3.44,0,1,1,6.88,0V86.55h5.65v-.86a3.44,3.44,0,0,1,6.88,0v.86h4.66v-.86a3.44,3.44,0,0,1,6.88,0v.86h4.66v-.86a3.44,3.44,0,0,1,6.88,0v.86h5.65V25H71.24v.86a3.44,3.44,0,0,1-6.88,0V13.45H58.72v.86a3.44,3.44,0,1,1-6.88,0v-.86H47.18v.86a3.44,3.44,0,1,1-6.88,0v-.86H35.64v.86a3.44,3.44,0,1,1-6.88,0v-.86ZM67.8,31a5.17,5.17,0,0,0,5.09-4.3h2.28V84.83H72.89a5.16,5.16,0,0,0-10.18,0H61.35a5.16,5.16,0,0,0-10.17,0H49.81a5.16,5.16,0,0,0-10.17,0H37.36V75H40.3v-.86a3.44,3.44,0,1,1,6.88,0V75h4.66v-.86a3.44,3.44,0,1,1,6.88,0V75h5.65V29.71A5.13,5.13,0,0,0,67.8,31ZM32.2,19.47a5.17,5.17,0,0,0,5.09-4.3h1.37a5.16,5.16,0,0,0,10.17,0h1.37a5.16,5.16,0,0,0,10.17,0h2.28V73.26H60.37a5.16,5.16,0,0,0-10.17,0H48.83a5.16,5.16,0,0,0-10.17,0H37.28a5.16,5.16,0,0,0-10.17,0H24.83V15.17h2.28A5.17,5.17,0,0,0,32.2,19.47Z"></path>
                            <path d="M31.9,58.76H55.58a.86.86,0,0,0,0-1.72H31.9a.86.86,0,1,0,0,1.72Z"></path>
                            <path d="M31.9,55.42H55.58a.86.86,0,0,0,0-1.72H31.9a.86.86,0,1,0,0,1.72Z"></path>
                            <path d="M56.17,60.55a.86.86,0,0,0-.86.86v3H32.17v-3a.86.86,0,0,0-1.72,0v4.75H57V61.41A.86.86,0,0,0,56.17,60.55Z"></path>
                            <path d="M41.66,44.54,41.89,46a4.2,4.2,0,0,0-2.34,3.76.86.86,0,1,0,1.72,0,2.48,2.48,0,0,1,5,0,.86.86,0,1,0,1.72,0A4.2,4.2,0,0,0,45.59,46l.23-1.46a52.86,52.86,0,0,0,.61-7.92l11.75,1.79v-1a3,3,0,0,0-1-2.16,5.47,5.47,0,0,0-1.84-1.16l-8.88-3.46V26.15a5.31,5.31,0,0,0-.73-2.71,7.92,7.92,0,0,0-.6-.88,1.74,1.74,0,0,0-2.72,0,7.66,7.66,0,0,0-.6.88A5.31,5.31,0,0,0,41,26.15v4.48L32.16,34.1a5.46,5.46,0,0,0-1.84,1.16,3,3,0,0,0-1,2.16v1L41,36.62A53,53,0,0,0,41.66,44.54Zm13-8.84a4,4,0,0,1,1.06.6l-9.31-1.42v-2.4ZM42.76,26.15a3.59,3.59,0,0,1,.49-1.83,3.86,3.86,0,0,1,.5-.68,6.12,6.12,0,0,1,.47.68,3.6,3.6,0,0,1,.49,1.83V36.49a51.12,51.12,0,0,1-.6,7.78l-.2,1.28h-.36l-.2-1.28a51.22,51.22,0,0,1-.6-7.78Zm-10,9.55L41,32.49v2.4L31.73,36.3A4,4,0,0,1,32.79,35.7Z"></path>
                        </svg>
                    </div>
                    <h2>Private Local Guides</h2>
                    <p>Specialized knowledge that allows for a flexible trip. Available for the whole trip or just part. In the end, you’ll consider your new friend a highlight of your trip.</p>
                </div>
            </div>
        </div>

        <div class="button_block">
            <a href="tel:702- 527-0939" class="common_btn">SCHEDULE DISCOVERY CALL</a>
        </div>

        <br><br>

        <div class="row sectionContainer">
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerFour">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 1792">
                            <path fill="white" d="M212 768l623 665-300-665h-323zM1024 1540l349-772h-698zM538 640l204-384h-262l-288 384h346zM1213 1433l623-665h-323zM683 640h682l-204-384h-274zM1510 640h346l-288-384h-262zM1651 154l384 512q14 18 13 41.5t-17 40.5l-960 1024q-18 20-47 20t-47-20l-960-1024q-16-17-17-40.5t13-41.5l384-512q18-26 51-26h1152q33 0 51 26z"></path>
                        </svg>
                    </div>
                    <h2>Luxury Travel Expert</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerFive">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792">
                            <path fill="white" d="M1764 11q33 24 27 64l-256 1536q-5 29-32 45-14 8-31 8-11 0-24-5l-527-215-298 327q-18 21-47 21-14 0-23-4-19-7-30-23.5t-11-36.5v-452l-472-193q-37-14-40-55-3-39 32-59l1664-960q35-21 68 2zM1422 1510l221-1323-1434 827 336 137 863-639-478 797z"></path>
                        </svg>
                    </div>
                    <h2>Flexible & Customizable</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerSix">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1536 1792">
                            <path fill="white" d="M768 128q209 0 385.5 103t279.5 279.5 103 385.5-103 385.5-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103zM1042 649q-2 1-9.5 9.5t-13.5 9.5q2 0 4.5-5t5-11 3.5-7q6-7 22-15 14-6 52-12 34-8 51 11-2-2 9.5-13t14.5-12q3-2 15-4.5t15-7.5l2-22q-12 1-17.5-7t-6.5-21q0 2-6 8 0-7-4.5-8t-11.5 1-9 1q-10-3-15-7.5t-8-16.5-4-15q-2-5-9.5-10.5t-9.5-10.5q-1-2-2.5-5.5t-3-6.5-4-5.5-5.5-2.5-7 5-7.5 10-4.5 5q-3-2-6-1.5t-4.5 1-4.5 3-5 3.5q-3 2-8.5 3t-8.5 2q15-5-1-11-10-4-16-3 9-4 7.5-12t-8.5-14h5q-1-4-8.5-8.5t-17.5-8.5-13-6q-8-5-34-9.5t-33-0.5q-5 6-4.5 10.5t4 14 3.5 12.5q1 6-5.5 13t-6.5 12q0 7 14 15.5t10 21.5q-3 8-16 16t-16 12q-5 8-1.5 18.5t10.5 16.5q2 2 1.5 4t-3.5 4.5-5.5 4-6.5 3.5l-3 2q-11 5-20.5-6t-13.5-26q-7-25-16-30-23-8-29 1-5-13-41-26-25-9-58-4 6-1 0-15-7-15-19-12 3-6 4-17.5t1-13.5q3-13 12-23 1-1 7-8.5t9.5-13.5 0.5-6q35 4 50-11 5-5 11.5-17t10.5-17q9-6 14-5.5t14.5 5.5 14.5 5q14 1 15.5-11t-7.5-20q12 1 3-17-5-7-8-9-12-4-27 5-8 4 2 8-1-1-9.5 10.5t-16.5 17.5-16-5q-1-1-5.5-13.5t-9.5-13.5q-8 0-16 15 3-8-11-15t-24-8q19-12-8-27-7-4-20.5-5t-19.5 4q-5 7-5.5 11.5t5 8 10.5 5.5 11.5 4 8.5 3q14 10 8 14-2 1-8.5 3.5t-11.5 4.5-6 4q-3 4 0 14t-2 14q-5-5-9-17.5t-7-16.5q7 9-25 6l-10-1q-4 0-16 2t-20.5 1-13.5-8q-4-8 0-20 1-4 4-2-4-3-11-9.5t-10-8.5q-46 15-94 41 6 1 12-1 5-2 13-6.5t10-5.5q34-14 42-7l5-5q14 16 20 25-7-4-30-1-20 6-22 12 7 12 5 18-4-3-11.5-10t-14.5-11-15-5q-16 0-22 1-146 80-235 222 7 7 12 8 4 1 5 9t2.5 11 11.5-3q9 8 3 19 1-1 44 27 19 17 21 21 3 11-10 18-1-2-9-9t-9-4q-3 5 0.5 18.5t10.5 12.5q-7 0-9.5 16t-2.5 35.5-1 23.5l2 1q-3 12 5.5 34.5t21.5 19.5q-13 3 20 43 6 8 8 9 3 2 12 7.5t15 10 10 10.5q4 5 10 22.5t14 23.5q-2 6 9.5 20t10.5 23q-1 0-2.5 1t-2.5 1q3 7 15.5 14t15.5 13q1 3 2 10t3 11 8 2q2-20-24-62-15-25-17-29-3-5-5.5-15.5t-4.5-14.5q2 0 6 1.5t8.5 3.5 7.5 4 2 3q-3 7 2 17.5t12 18.5 17 19 12 13q6 6 14 19.5t0 13.5q9 0 20 10t17 20q5 8 8 26t5 24q2 7 8.5 13.5t12.5 9.5l16 8t13 7q5 2 18.5 10.5t21.5 11.5q10 4 16 4t14.5-2.5 13.5-3.5q15-2 29 15t21 21q36 19 55 11-2 1 0.5 7.5t8 15.5 9 14.5 5.5 8.5q5 6 18 15t18 15q6-4 7-9-3 8 7 20t18 10q14-3 14-32-31 15-49-18 0-1-2.5-5.5t-4-8.5-2.5-8.5 0-7.5 5-3q9 0 10-3.5t-2-12.5-4-13q-1-8-11-20t-12-15q-5 9-16 8t-16-9q0 1-1.5 5.5t-1.5 6.5q-13 0-15-1 1-3 2.5-17.5t3.5-22.5q1-4 5.5-12t7.5-14.5 4-12.5-4.5-9.5-17.5-2.5q-19 1-26 20-1 3-3 10.5t-5 11.5-9 7q-7 3-24 2t-24-5q-13-8-22.5-29t-9.5-37q0-10 2.5-26.5t3-25-5.5-24.5q3-2 9-9.5t10-10.5q2-1 4.5-1.5t4.5 0 4-1.5 3-6q-1-1-4-3-3-3-4-3 7 3 28.5-1.5t27.5 1.5q15 11 22-2 0-1-2.5-9.5t-0.5-13.5q5 27 29 9 3 3 15.5 5t17.5 5q3 2 7 5.5t5.5 4.5 5-0.5 8.5-6.5q10 14 12 24 11 40 19 44 7 3 11 2t4.5-9.5 0-14-1.5-12.5l-1-8v-18l-1-8q-15-3-18.5-12t1.5-18.5 15-18.5q1-1 8-3.5t15.5-6.5 12.5-8q21-19 15-35 7 0 11-9-1 0-5-3t-7.5-5-4.5-2q9-5 2-16 5-3 7.5-11t7.5-10q9 12 21 2 7-8 1-16 5-7 20.5-10.5t18.5-9.5q7 2 8-2t1-12 3-12q4-5 15-9t13-5l17-11q3-4 0-4 18 2 31-11 10-11-6-20 3-6-3-9.5t-15-5.5q3-1 11.5-0.5t10.5-1.5q15-10-7-16-17-5-43 12zM879 1526q206-36 351-189-3-3-12.5-4.5t-12.5-3.5q-18-7-24-8 1-7-2.5-13t-8-9-12.5-8-11-7q-2-2-7-6t-7-5.5-7.5-4.5-8.5-2-10 1l-3 1q-3 1-5.5 2.5t-5.5 3-4 3 0 2.5q-21-17-36-22-5-1-11-5.5t-10.5-7-10-1.5-11.5 7q-5 5-6 15t-2 13q-7-5 0-17.5t2-18.5q-3-6-10.5-4.5t-12 4.5-11.5 8.5-9 6.5-8.5 5.5-8.5 7.5q-3 4-6 12t-5 11q-2-4-11.5-6.5t-9.5-5.5q2 10 4 35t5 38q7 31-12 48-27 25-29 40-4 22 12 26 0 7-8 20.5t-7 21.5q0 6 2 16z"></path>
                        </svg>
                    </div>
                    <h2>Global Partner Network</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section_block" class="parallaxImg_section amazingExperience_section">
    <div class="container">
        <div class="sectionTitle_line">
            <hr class="dmDivider">
            <h2>The Sure-Fire Way to Transform a Good Trip into an Amazing Experience.</h2>
        </div>
    </div>
</section>

<section id="aboutUsSection" class="advisorMeet_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="advisor_cardPanel">
                    <div class="sectionTitle_line">
                        <div class="advisorSubTitle">YOUR TRAVEL ADVISOR</div>
                        <div class="advisorNameTitle">Meet Melissa</div>
                        <hr class="dmDivider">
                    </div>

                    <p>Having traveled all seven continents and explored over 80 countries, I have learned first hand the power of cultural connections and diverse perspectives. These experiences have instilled in me a deep appreciation for the richness of the Earth's varied landscapes and the natural wonders that inspire awe in all who are fortunate to behold them.</p>
                    <br>
                    <p>As a luxury travel advisor, I'm on a mission to share these transformative experiences and create personalized journeys that inspire exploration and create meaningful connections. Let's embark on this inspirational journey together, where every destination becomes a gateway to connection, enlightenment and unforgettable memories.</p>
                    <br>
                    <p>
                        CALIFORNIA CST 2055333-40<br>
                        FLORIDA ST32940<br>
                        WASHINGTON 601809585
                    </p>

                    <div class="followMe_info">
                        <div class="followMe_title">Follow Me:</div>
                        <div class="followMe_socialLink">
                            <a href="https://www.facebook.com/profile.php?id=61557663831718" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="button_block">
                        <a href="tel:702- 527-0939" class="common_btn">SCHEDULE DISCOVERY CALL</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="melissaPhoto"></div>
            </div>
        </div>
    </div>
</section>


<section id="processSection" class="howitWorks_section theProcess_section">
    <div class="sectionTitle_line">
        <div class="container">
            <h4>HOW IT WORKS</h4>
            <h2>The Process</h2>
            <hr class="dmDivider">
        </div>
    </div>

    <div class="processInfo_row_one">
        <div class="container">
            <div class="row sectionContainer">
                <div class="col-lg-6">
                    <div class="pomoText_block solidColorBg bgColorTwo">
                        <div class="planingCardIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" id="1802374724" class="svg u_1802374724" data-icon-name="business_calendar_checkmark">
                                <path d="M60.75,17.88A21.4,21.4,0,0,0,39.41,38h-8V34.5a1.3,1.3,0,1,0-2.59,0V38H22.87a5,5,0,0,0-5,5V77.13a5,5,0,0,0,5,5H57.05a5,5,0,0,0,5-5V60.59a21.37,21.37,0,0,0-1.3-42.71ZM22.87,40.55H28.8V44a1.3,1.3,0,1,0,2.59,0V40.55h8a21.21,21.21,0,0,0,1.65,7H20.47V42.95A2.4,2.4,0,0,1,22.87,40.55ZM59.45,77.13a2.4,2.4,0,0,1-2.4,2.4H22.87a2.4,2.4,0,0,1-2.4-2.4v-27H42.38a21.51,21.51,0,0,0,4.25,5.12,3.12,3.12,0,0,0-.11.83v3.95a3.15,3.15,0,0,0,3.14,3.14h3.95a3.15,3.15,0,0,0,3.14-3,21.33,21.33,0,0,0,2.7.34ZM54.16,59.59v.47a.56.56,0,0,1-.55.55H49.67a.56.56,0,0,1-.55-.55V57.19A21.12,21.12,0,0,0,54.16,59.59ZM60.75,58a18.72,18.72,0,0,1-5.36-.78l-.3-.09-.67-.23-.17-.06-.78-.31,0,0A18.78,18.78,0,1,1,60.75,58Z"></path>
                                <path d="M55.92,49.83a4.47,4.47,0,0,1-3.17-1.31L47.25,43a1.3,1.3,0,0,1,1.83-1.83l5.5,5.5a1.89,1.89,0,0,0,2.67,0L72.41,31.53a1.3,1.3,0,0,1,1.83,1.83L59.09,48.52A4.47,4.47,0,0,1,55.92,49.83Z"></path>
                                <path d="M29.51,63.2H27.06a3.9,3.9,0,0,1-3.89-3.89V56.86A3.9,3.9,0,0,1,27.06,53h2.45a3.9,3.9,0,0,1,3.89,3.89v2.45A3.9,3.9,0,0,1,29.51,63.2Zm-2.45-7.64a1.3,1.3,0,0,0-1.3,1.3v2.45a1.3,1.3,0,0,0,1.3,1.3h2.45a1.3,1.3,0,0,0,1.3-1.3V56.86a1.3,1.3,0,0,0-1.3-1.3Z"></path>
                                <path d="M29.51,75.37H27.06a3.9,3.9,0,0,1-3.89-3.89V69a3.9,3.9,0,0,1,3.89-3.89h2.45A3.9,3.9,0,0,1,33.4,69v2.45A3.9,3.9,0,0,1,29.51,75.37Zm-2.45-7.64a1.3,1.3,0,0,0-1.3,1.3v2.45a1.3,1.3,0,0,0,1.3,1.3h2.45a1.3,1.3,0,0,0,1.3-1.3V69a1.3,1.3,0,0,0-1.3-1.3Z"></path>
                                <path d="M41.19,63.2H38.73a3.9,3.9,0,0,1-3.89-3.89V56.86A3.9,3.9,0,0,1,38.73,53h2.45a3.9,3.9,0,0,1,3.89,3.89v2.45A3.9,3.9,0,0,1,41.19,63.2Zm-2.45-7.64a1.3,1.3,0,0,0-1.3,1.3v2.45a1.3,1.3,0,0,0,1.3,1.3h2.45a1.3,1.3,0,0,0,1.3-1.3V56.86a1.3,1.3,0,0,0-1.3-1.3Z"></path>
                                <path d="M41.19,75.37H38.73a3.9,3.9,0,0,1-3.89-3.89V69a3.9,3.9,0,0,1,3.89-3.89h2.45A3.9,3.9,0,0,1,45.08,69v2.45A3.9,3.9,0,0,1,41.19,75.37Zm-2.45-7.64a1.3,1.3,0,0,0-1.3,1.3v2.45a1.3,1.3,0,0,0,1.3,1.3h2.45a1.3,1.3,0,0,0,1.3-1.3V69a1.3,1.3,0,0,0-1.3-1.3Z"></path>
                                <path d="M52.87,75.37H50.41a3.9,3.9,0,0,1-3.89-3.89V69a3.9,3.9,0,0,1,3.89-3.89h2.45A3.9,3.9,0,0,1,56.76,69v2.45A3.9,3.9,0,0,1,52.87,75.37Zm-2.45-7.64a1.3,1.3,0,0,0-1.3,1.3v2.45a1.3,1.3,0,0,0,1.3,1.3h2.45a1.3,1.3,0,0,0,1.3-1.3V69a1.3,1.3,0,0,0-1.3-1.3Z"></path>
                            </svg>
                        </div>

                        <div class="processCard_content">
                            <h2><strong>1.</strong> It Starts With a Chat</h2>
                            <p>We start with just a simple chat on the phone or Zoom to see if we’re the right fit. We'll talk about what you're looking for in your trip and I'll explain more about me and how I can help. From there, we can decide which direction to go.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pomoText_block solidColorBg bgColorTwo">
                        <div class="planingCardIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" id="1466864725" class="svg u_1466864725" data-icon-name="wp-phone_chat_thin">
                                <g>
                                    <path d="M32,39c-0.2,0-0.5-0.1-0.7-0.2c-0.3-0.3-0.4-0.7-0.3-1.1l2.5-6.2C31.3,29,30,26.1,30,23c0-7.2,6.7-13,15-13
			c8.3,0,15,5.8,15,13s-6.7,13-15,13c-2,0-3.9-0.3-5.7-1l-6.8,3.9C32.3,39,32.2,39,32,39z M45,12c-7.2,0-13,4.9-13,11
			c0,2.7,1.2,5.4,3.4,7.4c0.3,0.3,0.4,0.7,0.3,1.1L34,35.7l4.7-2.7c0.3-0.2,0.6-0.2,0.9-0.1c1.7,0.7,3.6,1,5.5,1c7.2,0,13-4.9,13-11
			S52.2,12,45,12z"></path>
                                    <path d="M17,18l2.4,0c0,0,0,0,0,0c1,0,1.9,0.6,2.2,1.6l3,9.5c0.3,0.8,0,1.7-0.6,2.3l-3.5,3.5c-0.1,0.1-0.1,0.2-0.1,0.4
			c0.8,1.5,2.8,4.4,6.3,8c3.5,3.5,6.5,5.5,8,6.3c0.1,0.1,0.3,0,0.4-0.1l3.5-3.5c0.6-0.6,1.5-0.8,2.3-0.6l9.5,3c1,0.3,1.6,1.2,1.6,2.2
			l0,2.4c0,2-6,7-10,7c-2.3,0-10.8-0.8-21-11l0,0C10.8,38.8,10,30.3,10,28C10,24.1,14.9,18,17,18z M22.4,47.5L22.4,47.5
			C32.1,57.2,39.9,58,42,58c3,0,7.6-3.9,8-5l0-2.3c0-0.1-0.1-0.3-0.2-0.3l-9.5-3c-0.1,0-0.2,0-0.3,0.1l-3.5,3.5
			c-0.7,0.7-1.9,0.9-2.8,0.4c-1.5-0.9-4.7-2.9-8.4-6.6c-3.7-3.7-5.7-6.9-6.6-8.4c-0.5-0.9-0.4-2,0.4-2.8l3.5-3.5
			c0.1-0.1,0.1-0.2,0.1-0.3l-3-9.5c0-0.1-0.2-0.2-0.3-0.2h0L17,20c-1.1,0.4-5,4.9-5,8C12,30.1,12.8,37.9,22.4,47.5z"></path>
                                    <circle cx="38.5" cy="22.5" r="1.5"></circle>
                                    <circle cx="45.5" cy="22.5" r="1.5"></circle>
                                    <circle cx="52.5" cy="22.5" r="1.5"></circle>
                                </g>
                            </svg>
                        </div>
                        <div class="processCard_content">
                            <h2><strong>2.</strong> Design and Collaborate</h2>
                            <p>We’ll pool our resources, reach out to our contacts and tap into our own knowledge and experience. Once you’ve seen the options we’ve provided, we’ll work together to create the perfect trip for you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="processInfo_row_two">
        <div class="container">
            <div class="row sectionContainer">
                <div class="col-lg-6">
                    <div class="pomoText_block solidColorBg bgColorTwo">
                        <div class="planingCardIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" id="1628391585" class="svg u_1628391585" data-icon-name="wp-driving_directions_thin">
                                <g>
                                    <path d="M15,25.5c-2.8,0-5-2.2-5-5s2.2-5,5-5c2.8,0,5,2.2,5,5S17.8,25.5,15,25.5z M15,17.5c-1.7,0-3,1.3-3,3s1.3,3,3,3
			c1.7,0,3-1.3,3-3S16.7,17.5,15,17.5z"></path>
                                    <circle cx="29.5" cy="53" r="1.5"></circle>
                                    <circle cx="22.5" cy="53" r="1.5"></circle>
                                    <circle cx="16.5" cy="51" r="1.5"></circle>
                                    <circle cx="14.5" cy="45" r="1.5"></circle>
                                    <circle cx="14.5" cy="38" r="1.5"></circle>
                                    <circle cx="14.5" cy="31" r="1.5"></circle>
                                    <circle cx="36.5" cy="53" r="1.5"></circle>
                                    <circle cx="43.5" cy="53" r="1.5"></circle>
                                    <path d="M50,54.5c-0.4,0-1.2-0.2-1.5-1.2l0-0.1l-0.6-2c-1.1-3.2-3.2-7.1-5.5-10.2c-1.6-2.2-2.4-4.4-2.4-6.5c0-5.5,4.5-9.9,10-9.9
			c5.5,0,10,4.5,10,9.9c0,2.2-0.8,4.4-2.4,6.5c-2.3,3.1-4.4,7.1-5.5,10.3l-0.6,2C51.2,54.3,50.4,54.5,50,54.5z M50,26.5
			c-4.4,0-8,3.6-8,7.9c0,1.7,0.7,3.5,2,5.3c2.4,3.3,4.6,7.4,5.8,10.8l0.2,0.6l0.1-0.5c1.2-3.5,3.4-7.6,5.8-10.9c1.4-1.9,2-3.6,2-5.3
			C58,30.1,54.4,26.5,50,26.5z"></path>
                                    <path d="M50,38.5c-2.2,0-4-1.8-4-4s1.8-4,4-4c2.2,0,4,1.8,4,4S52.2,38.5,50,38.5z M50,32.5c-1.1,0-2,0.9-2,2s0.9,2,2,2
			c1.1,0,2-0.9,2-2S51.1,32.5,50,32.5z"></path>
                                </g>
                            </svg>
                        </div>

                        <div class="processCard_content">
                            <h2><strong>3.</strong> Personalized Itinerary</h2>
                            <p>I present your final itinerary with tickets and reservations in one place. You will have access to everything using a personalized mobile app so you have all the details at your fingertips while you travel.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pomoText_block solidColorBg bgColorTwo">
                        <div class="planingCardIcon">
                            <svg version="1.1" id="1696590261" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve" class="svg u_1696590261" data-icon-custom="true" data-icon-name="enjoy.svg"> <style type="text/css">
                                                                                                                                                                                                                                                                                                                                    .st0-1696590261 {
                                                                                                                                                                                                                                                                                                                                        display: none;
                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                    .st1-1696590261 {
                                                                                                                                                                                                                                                                                                                                        display: inline;
                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                    .st2-1696590261 {
                                                                                                                                                                                                                                                                                                                                        display: inline;
                                                                                                                                                                                                                                                                                                                                        fill: #01B3A7;
                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                    .st3-1696590261 {
                                                                                                                                                                                                                                                                                                                                        fill: #162E44;
                                                                                                                                                                                                                                                                                                                                    }
</style> 
                            <g class="st0-1696590261"> <path class="st1-1696590261" d="M43,14.9c-0.6-0.9-1.4-2.1-1.9-2.9l0,0c0.2,1,0.5,2,0.7,3.2l0.8,4.1l-0.7,0.4L38.8,17
			c-0.9-0.8-1.7-1.5-2.4-2.2l0,0c0.5,0.9,1.1,2.1,1.7,3.2l1.6,3.1l-0.9,0.5l-3.6-7.2l1.1-0.7l3.2,2.7c0.8,0.7,1.5,1.3,2.1,1.9l0,0
			c-0.2-0.8-0.4-1.7-0.7-2.8l-0.8-4.1l1.1-0.7l4.5,6.7L45,17.9L43,14.9z"></path> 
                            <path class="st1-1696590261" d="M48,13.6l0.2,2.7l-1,0.4l-0.6-8.5l1.2-0.5l5.6,6.4l-1,0.4l-1.8-2L48,13.6z M50.2,11.9L48.5,10
			c-0.4-0.4-0.7-0.8-1-1.2l0,0c0.1,0.5,0.1,1,0.2,1.5l0.2,2.5L50.2,11.9z"></path> 
                            <path class="st1-1696590261" d="M53.1,5.8l1-0.3l1.1,3.8l0,0c0.1-0.4,0.3-0.7,0.4-1l1.6-3.6l1.2-0.4l-1.9,4.1l4.3,3.6l-1.2,0.3l-3.6-3.1
			l-0.5,1.1l0.8,3l-1,0.3L53.1,5.8z"></path> 
                            <path class="st1-1696590261" d="M65.7,7.4l-3.1,0.5l0.5,2.9l3.5-0.6l0.1,0.9l-4.5,0.8l-1.3-8l4.3-0.7L65.3,4l-3.3,0.5L62.5,7l3.1-0.5L65.7,7.4
			z"></path> 
                            <path class="st1-1696590261" d="M75.8,2.5c0.6-0.1,1.4-0.1,2.2,0c1.5,0.1,2.5,0.5,3.2,1.2c0.7,0.7,1.1,1.7,1,3c-0.1,1.3-0.5,2.4-1.3,3.1
			c-0.8,0.7-2.1,1.1-3.6,1c-0.7,0-1.4-0.1-1.9-0.2L75.8,2.5z M76.5,9.7c0.3,0.1,0.6,0.1,1.1,0.1c2.2,0.1,3.5-1.1,3.6-3.2
			c0.1-1.9-0.9-3.2-3.1-3.3c-0.5,0-0.9,0-1.2,0L76.5,9.7z"></path> 
                            <path class="st1-1696590261" d="M86.3,3.3l-1.2,8l-1-0.2l1.2-8L86.3,3.3z"></path> 
                            <path class="st1-1696590261" d="M89.4,3.9l4.2,1l-0.2,0.9L90.3,5l-0.6,2.6l3,0.7l-0.2,0.8l-3-0.7L88.6,12l-1-0.2L89.4,3.9z"></path> 
                            <path class="st1-1696590261" d="M96.6,5.7l4.1,1.4l-0.3,0.8l-3.1-1.1l-0.9,2.5l2.9,1L99,11.2l-2.9-1l-1.2,3.5l-1-0.3L96.6,5.7z"></path> 
                            <path class="st1-1696590261" d="M105.5,13.9l-2.9-1.3l-1.2,2.6l3.2,1.5l-0.4,0.8l-4.1-1.9l3.4-7.3l4,1.8l-0.4,0.8l-3-1.4l-1.1,2.3l2.9,1.3
			L105.5,13.9z"></path> 
                            <path class="st1-1696590261" d="M110.2,11.6c0.5,0.2,1.2,0.5,1.8,0.9c1,0.6,1.5,1.1,1.7,1.8c0.2,0.5,0.1,1.1-0.2,1.6c-0.5,0.9-1.5,1.2-2.4,1
			l0,0c0.4,0.5,0.4,1.2,0.2,2c-0.4,1.1-0.6,1.9-0.6,2.2l-0.9-0.6c0-0.3,0.2-1,0.5-1.9c0.4-1.1,0.2-1.7-0.6-2.2l-0.8-0.5l-1.8,3
			l-0.9-0.5L110.2,11.6z M109.2,15.3l0.9,0.5c1,0.6,1.9,0.4,2.4-0.4c0.5-0.9,0.1-1.7-0.8-2.3c-0.4-0.3-0.8-0.4-0.9-0.4L109.2,15.3z"></path> 
                            <path class="st1-1696590261" d="M117.7,21.8l-2.5-1.9l-1.8,2.3l2.8,2.1l-0.5,0.7l-3.6-2.7l4.9-6.5l3.5,2.6l-0.5,0.7l-2.7-2l-1.5,2l2.5,1.9
			L117.7,21.8z"></path> 
                            <path class="st1-1696590261" d="M117.3,26.3l5.6-5.9l0.8,0.8l-1,4.8c-0.2,1.1-0.5,2-0.8,2.9l0,0c0.7-0.8,1.3-1.6,2.2-2.5l2.3-2.4l0.7,0.7
			l-5.6,5.9l-0.8-0.7l1-4.7c0.2-1,0.5-2.1,0.8-3l0,0c-0.7,0.8-1.3,1.5-2.2,2.5L118,27L117.3,26.3z"></path> 
                            <path class="st1-1696590261" d="M127.1,36.5c-0.4-0.2-1-0.6-1.7-1.4c-1.4-1.8-1.4-4,0.7-5.7c2-1.6,4.4-1.4,6,0.6c0.6,0.8,0.9,1.4,0.9,1.7
			l-0.8,0.3c-0.1-0.4-0.3-1-0.8-1.5c-1.2-1.5-2.9-1.7-4.6-0.3c-1.5,1.3-1.8,2.9-0.6,4.5c0.4,0.5,0.9,0.9,1.3,1.1L127.1,36.5z"></path> 
                            <path class="st1-1696590261" d="M133.5,39.8l-1.7-2.6l-2.4,1.6l1.9,2.9l-0.7,0.5l-2.5-3.8l6.8-4.4l2.4,3.7l-0.7,0.5l-1.8-2.8l-2.1,1.4l1.7,2.6
			L133.5,39.8z"></path> 
                            <path class="st1-1696590261" d="M134.8,50.7l6.9-4.6l0.4,1l-3.5,2.3c-0.9,0.6-1.7,1.1-2.4,1.5l0,0c0.8-0.1,1.8-0.2,2.9-0.3l4.2-0.4l0.4,1
			l-3.5,2.3c-0.8,0.5-1.7,1.1-2.4,1.5l0,0c0.9-0.1,1.8-0.2,2.9-0.3l4.2-0.4l0.4,1l-8.4,0.6l-0.4-1l3.6-2.4c0.9-0.6,1.6-1,2.3-1.4l0,0
			c-0.8,0.1-1.6,0.2-2.7,0.3l-4.4,0.3L134.8,50.7z"></path> 
                            <path class="st1-1696590261" d="M145.8,59l-7.9,1.8l-0.2-1l7.9-1.8L145.8,59z"></path> 
                            <path class="st1-1696590261" d="M145.8,63.8l-0.4-2.4l0.9-0.1l0.9,5.9l-0.9,0.1l-0.4-2.4l-7.1,1.1l-0.2-1L145.8,63.8z"></path> 
                            <path class="st1-1696590261" d="M147.4,70.7l-3.4,0.1l0.1,3.9l3.4-0.1l0,1.1l-8.1,0.3l0-1.1l3.8-0.1l-0.1-3.9l-3.8,0.1l0-1l8.1-0.3L147.4,70.7
			z"></path> 
                            <path class="st1-1696590261" d="M146.5,86.5c0,0.5-0.1,1.2-0.2,2c-0.2,1-0.6,1.7-1.1,2.1c-0.5,0.4-1.1,0.5-1.8,0.4c-0.7-0.1-1.2-0.5-1.6-0.9
			c-0.5-0.7-0.6-1.6-0.4-2.6c0.1-0.3,0.1-0.6,0.2-0.8l-3.2-0.6l0.2-1L146.5,86.5z M142.5,86.8c-0.1,0.2-0.2,0.5-0.2,0.8
			c-0.2,1.2,0.2,2.1,1.3,2.3c1,0.2,1.7-0.4,1.9-1.6c0.1-0.4,0.1-0.8,0.1-1L142.5,86.8z"></path> 
                            <path class="st1-1696590261" d="M139.6,93l-2.2-1.5l0.3-1l7,5l-0.4,1.2l-8.5,0.3l0.3-1.1l2.7-0.1L139.6,93z M139.6,95.7l2.5-0.1
			c0.6,0,1.1,0,1.5,0l0,0c-0.4-0.3-0.9-0.5-1.3-0.8l-2-1.4L139.6,95.7z"></path> 
                            <path class="st1-1696590261" d="M142.3,101.8c-0.1,0.5-0.4,1.2-0.6,1.9c-0.4,1-0.9,1.6-1.5,1.9c-0.5,0.2-1.1,0.2-1.7,0c-1-0.4-1.4-1.3-1.3-2.2
			l0,0c-0.4,0.5-1.1,0.6-2,0.4c-1.1-0.2-1.9-0.3-2.3-0.3l0.4-1c0.3,0,1,0.1,2,0.3c1.1,0.2,1.7,0,2.1-0.9l0.4-0.9l-3.2-1.4l0.4-1
			L142.3,101.8z M138.5,101.3l-0.4,1c-0.4,1-0.2,1.9,0.7,2.3c1,0.4,1.7-0.1,2.1-1.1c0.2-0.5,0.3-0.8,0.3-1L138.5,101.3z"></path> 
                            <path class="st1-1696590261" d="M133.6,107.5l-1.8-2l0.5-0.9l5.6,6.5l-0.6,1.1l-8.4-1.7l0.6-1l2.6,0.5L133.6,107.5z M133,110.2l2.4,0.5
			c0.5,0.1,1,0.3,1.5,0.4l0,0c-0.4-0.3-0.7-0.7-1.1-1.1l-1.6-1.9L133,110.2z"></path> 
                            <path class="st1-1696590261" d="M124.5,116.9c0.2-0.5,0.5-1.4,1.2-2.2c0.7-1,1.6-1.6,2.7-1.7c1-0.1,2.1,0.2,3.1,0.9c1.9,1.5,2.3,3.9,0.6,6
			c-0.6,0.7-1.2,1.2-1.5,1.4l-0.5-0.7c0.4-0.2,0.9-0.6,1.4-1.2c1.2-1.6,1-3.3-0.6-4.6c-1.6-1.3-3.3-1-4.5,0.5c-0.4,0.5-0.6,1-0.7,1.2
			l1.9,1.5l1-1.3l0.7,0.5l-1.6,2.1L124.5,116.9z"></path> 
                            <path class="st1-1696590261" d="M120.8,126.2c-2-2-1.8-4.2-0.3-5.7c1.5-1.5,3.7-1.4,5.5,0.3c1.8,1.8,1.9,4.1,0.3,5.7
			C124.7,128.1,122.5,127.9,120.8,126.2z M125.1,121.7c-1.2-1.2-3-1.7-4.1-0.5c-1.2,1.2-0.8,2.9,0.5,4.2c1.1,1.1,2.9,1.7,4.1,0.5
			C126.9,124.7,126.4,122.9,125.1,121.7z"></path> 
                            <path class="st1-1696590261" d="M116.3,124.5l4.9,6.4l-0.9,0.7l-4.5-1.7c-1.1-0.4-1.9-0.8-2.7-1.2l0,0c0.7,0.8,1.3,1.6,2.1,2.6l2,2.7l-0.8,0.6
			l-4.9-6.4l0.8-0.6l4.5,1.7c1,0.4,2,0.8,2.8,1.2l0,0c-0.7-0.8-1.3-1.5-2.1-2.6l-2.1-2.8L116.3,124.5z"></path> 
                            <path class="st1-1696590261" d="M98.5,135.4c0.3-0.3,0.9-0.8,1.8-1.2c2.1-0.9,4.2-0.3,5.3,2.1c1,2.3,0.2,4.6-2.1,5.6c-0.9,0.4-1.6,0.5-1.9,0.5
			l-0.1-0.9c0.4,0,1-0.1,1.6-0.4c1.7-0.8,2.4-2.4,1.5-4.3c-0.8-1.8-2.4-2.5-4.2-1.7c-0.6,0.3-1.1,0.6-1.4,1L98.5,135.4z"></path> 
                            <path class="st1-1696590261" d="M91.4,141.7c-0.8-2.7,0.4-4.6,2.4-5.2c2-0.6,4,0.5,4.7,2.9c0.7,2.5-0.3,4.5-2.4,5.2
			C94,145.2,92.1,144,91.4,141.7z M97.4,139.7c-0.5-1.7-1.8-2.9-3.4-2.4c-1.6,0.5-2,2.2-1.5,4c0.5,1.5,1.8,2.9,3.4,2.4
			C97.5,143.2,97.9,141.4,97.4,139.7z"></path> 
                            <path class="st1-1696590261" d="M88.3,138.1l1.3,8l-1.1,0.2l-3.2-3.6c-0.7-0.8-1.3-1.6-1.8-2.4l0,0c0.3,1.1,0.4,2,0.6,3.3l0.5,3.3l-1,0.2
			l-1.3-8l1-0.2l3.2,3.7c0.7,0.8,1.4,1.6,1.9,2.4l0,0c-0.2-1-0.4-2-0.6-3.3l-0.5-3.4L88.3,138.1z"></path> 
                            <path class="st1-1696590261" d="M80,140.6c-0.5-0.3-1.2-0.5-1.9-0.4c-1.1,0-1.7,0.6-1.6,1.5c0,0.8,0.5,1.2,1.6,1.5c1.3,0.4,2.2,1.1,2.2,2.2
			c0.1,1.3-1,2.2-2.5,2.3c-0.8,0-1.4-0.1-1.8-0.3l0.3-0.9c0.3,0.1,0.8,0.4,1.6,0.3c1.1,0,1.5-0.7,1.5-1.3c0-0.8-0.5-1.1-1.7-1.5
			c-1.4-0.5-2.1-1.1-2.2-2.3c-0.1-1.2,0.8-2.4,2.7-2.5c0.8,0,1.6,0.2,2.1,0.4L80,140.6z"></path> 
                            <path class="st1-1696590261" d="M71.2,146.5l2.5,0.1l-0.1,0.9l-6-0.4l0.1-0.9l2.5,0.1l0.4-7.2l1.1,0.1L71.2,146.5z"></path> 
                            <path class="st1-1696590261" d="M65.2,146.8c-0.5,0-1.3,0-2-0.2c-1.1-0.2-1.8-0.5-2.2-1c-0.3-0.4-0.5-1-0.4-1.6c0.2-1.1,1-1.6,1.8-1.8l0,0
			c-0.6-0.3-0.9-0.9-0.9-1.8c-0.1-1.2-0.1-2-0.2-2.3l1.1,0.2c0.1,0.3,0.2,1,0.2,2c0.1,1.1,0.4,1.6,1.3,1.8l1,0.2l0.6-3.5l1,0.2
			L65.2,146.8z M64.8,143l-1.1-0.2c-1.1-0.2-1.9,0.3-2.1,1.2c-0.2,1,0.5,1.6,1.6,1.8c0.5,0.1,0.9,0.1,1,0.1L64.8,143z"></path> 
                            <path class="st1-1696590261" d="M56.2,145.1l1.4-4.6c0.5-1.7,0-2.7-1.1-3c-1.2-0.3-2.1,0.2-2.6,1.9l-1.4,4.6l-1-0.3l1.3-4.5
			c0.7-2.4,2.2-3,3.9-2.5c1.6,0.5,2.5,1.7,1.8,4.1l-1.4,4.6L56.2,145.1z"></path> 
                            <path class="st1-1696590261" d="M46.2,133.1c0.4,0,1.2,0.1,2.1,0.5c2.1,0.9,3.1,2.9,2,5.4c-1,2.3-3.3,3.2-5.6,2.2c-0.9-0.4-1.4-0.9-1.6-1.1
			l0.6-0.7c0.3,0.3,0.7,0.7,1.4,1c1.7,0.8,3.4,0.2,4.2-1.8c0.8-1.8,0.3-3.4-1.5-4.2c-0.6-0.3-1.2-0.4-1.7-0.4L46.2,133.1z"></path> 
                            <path class="st1-1696590261" d="M39.4,137.2l2.1,1.2l-0.4,0.8l-5.2-3l0.4-0.8l2.1,1.2l3.6-6.2l0.9,0.5L39.4,137.2z"></path> 
                            <path class="st1-1696590261" d="M33.1,134.2l4.6-6.6l0.9,0.6l-4.6,6.6L33.1,134.2z"></path> 
                            <path class="st1-1696590261" d="M27.7,124.8c1.8-2.1,4-2.1,5.6-0.8c1.6,1.4,1.7,3.6,0.1,5.5c-1.7,2-4,2.2-5.6,0.8
			C26.2,128.8,26.2,126.6,27.7,124.8z M32.6,128.8c1.1-1.3,1.4-3.1,0.2-4.2c-1.3-1.1-3-0.5-4.1,0.9c-1,1.2-1.5,3-0.2,4.2
			C29.7,130.8,31.4,130.1,32.6,128.8z"></path> 
                            <path class="st1-1696590261" d="M29,120.2l-6,5.4l-0.8-0.8l1.3-4.7c0.3-1.1,0.6-2,1-2.8l0,0c-0.7,0.8-1.5,1.5-2.4,2.3l-2.5,2.3l-0.7-0.7l6-5.4
			l0.7,0.8l-1.3,4.7c-0.3,1-0.6,2-1,2.9l0,0c0.7-0.7,1.4-1.4,2.4-2.3l2.6-2.3L29,120.2z"></path> 
	</g> 
                            <g class="st0-1696590261"> <path class="st1-1696590261" d="M1,108.2c1.1-2.2,2.8-3,5.2-3c45.9,0,91.7,0,137.6,0c3.4,0,5.3,1.8,5.1,4.8c-0.1,1.9-1.2,3.1-2.8,3.9
			c-5.4,2.6-10.9,4.8-16.5,6.8c-10.6,3.9-21.5,6.9-32.7,8.8c-9.5,1.7-19,2.4-28.6,1.8c-17.3-1.1-33.9-5.3-50-11.3
			c-4.7-1.8-9.4-3.7-14-5.8c-1.5-0.7-2.6-1.6-3.3-3C1,110.1,1,109.1,1,108.2z"></path> 
                            <path class="st1-1696590261" d="M143.8,96.7c-46,0-91.7,0-137.6,0c0.8-0.6,1.5-1,2.1-1.5c1-0.9,1.3-2.2,1.3-3.6c0.5-21.2,9.7-38,26.1-51
			c0.2-0.1,0.4-0.3,0.6-0.4c0.8-0.6,1.2-0.5,1.2,0.6c0.2,3.1,0.6,6.2,0.8,9.3c0.6,6.6,1.1,13.1,1.7,19.7c0.1,1.7,0.3,3.4,0.4,5
			c0.2,2.4,2,4.3,4.2,4.3c2.5,0,4.2-1.9,4.1-4.6c-0.4-5.6-0.8-11.1-1.3-16.7c-0.4-5.2-0.9-10.4-1.3-15.7c-0.2-2-0.3-3.9-0.5-5.9
			c-0.1-1.2,0.1-2,1.3-2.5c2-0.8,4-1.7,6-2.6c1-0.4,1.4-0.1,1.5,1c0.6,7.2,1.2,14.5,1.8,21.7c0.6,7,1.1,14.1,1.8,21.1
			c0.2,2.5,2.4,4.4,4.5,4.1c2.5-0.3,4-2.4,3.8-5.1c-0.5-5.1-0.9-10.2-1.3-15.2c-0.6-6.6-1.1-13.1-1.7-19.7c-0.4-5-0.9-10-1.2-14.9
			c-0.3-4,1.4-5.7,5.4-5.7c5.3,0,10.6,0,15.9,0c3.1,0,5,1.8,4.8,5c-0.3,5.3-0.8,10.5-1.2,15.8c-0.4,5.2-0.9,10.4-1.3,15.7
			c-0.5,6.4-1,12.8-1.6,19.3c-0.2,2.4,1.2,4.4,3.7,4.9c2,0.4,4.2-1.1,4.5-3.4c0.4-2.7,0.5-5.4,0.8-8.2c0.6-6.7,1.1-13.3,1.7-20
			c0.4-5,0.8-10,1.2-14.9c0.1-1.7,0.3-1.9,1.9-1.2c2,0.8,3.9,1.7,5.8,2.5c0.8,0.3,1.2,0.9,1.1,1.8c-0.4,4.9-0.8,9.9-1.3,14.8
			c-0.4,5.2-0.9,10.3-1.3,15.5c-0.2,2.8-0.5,5.6-0.6,8.3c-0.1,2.8,1.6,4.7,4.1,4.8c2.2,0,4-1.9,4.2-4.5c0.6-7.7,1.3-15.4,2-23.1
			c0.3-3.4,0.6-6.9,0.9-10.3c0.2-1.7,0.3-1.7,1.7-0.6c10.1,7.7,17.6,17.5,22.1,29.3c2.6,6.7,4,13.7,4.1,21
			C140.4,94.1,140.9,94.9,143.8,96.7z"></path> 
	</g> 
                            <g class="st0-1696590261"> <path class="st1-1696590261" d="M147.2,66.2c0,1.8,0,3.6,0,5.4c-0.6,2.4-1.5,4.7-3.1,6.7c-0.4,0.5-0.4,1,0,1.5c1.6,1.8,2.4,4,3,6.2
			c0,1.7,0,3.4,0,5.1c-1,3.8-2.9,7-6.4,9.1c-0.8,0.5-0.5,1-0.3,1.7c2.2,6.2,0.1,12.5-5.3,16.1c-0.9,0.6-1.1,1.1-0.7,2.1
			c1,2.5,1.1,5,0.5,7.6c-1.4,6.1-7,10.6-13.4,10.7c-18.2,0-36.5,0-54.7,0c-4.9,0-9.5-1-14-2.7c-2.2-0.8-2.2-0.8-2.2-3.1
			c0-19.1,0-38.2,0-57.4c0-2.4,0.2-4.6,1.4-6.9C57.6,56.8,62.8,45.3,68,33.9c0.5-1.1,0.7-2.2,0.7-3.4c0-5.9,0-11.7,0-17.6
			c0-1.2,0.1-2.5,1.1-3.4c3.5-2.7,7.5-4.2,11.9-3.8c3.7,0.3,6.5,2.5,9,5.1c5.6,5.7,8.7,12.5,8.3,20.5c-0.3,7-2,13.8-4.1,20.5
			c-0.6,1.9-0.6,1.9,1.4,1.9c11.4,0,22.8,0,34.2,0c1.8,0,3.7,0.2,5.4,0.7C142,56.3,145.6,60.3,147.2,66.2z"></path> 
                            <path class="st1-1696590261" d="M2.8,78.3c1.3-5.7,4.6-9.7,10.1-11.7c1.4-0.5,2.9-0.8,4.4-0.8c8.7,0,17.4,0,26.1,0c1.4,0,1.8,0.5,1.8,1.8
			c0,24,0,48.1,0,72.1c0,1.1-0.4,1.7-1.3,2.3c-2.7,1.6-5.6,2.3-8.7,2.3c-5.4,0-10.7,0-16.1,0c-8.2,0-13.5-3.9-16-11.8
			c-0.1-0.2-0.2-0.4-0.2-0.7C2.8,114,2.8,96.2,2.8,78.3z"></path> 
	</g> 
                            <g class="st0-1696590261"> <path class="st1-1696590261" d="M74.9,143.3c-10.1,0-20.2-0.5-30.2-2.4c-10-1.9-18.1-6.9-23.7-15.7c-0.5-0.8-1.2-1.2-2.1-1.4
			c-3.5-1.1-6.9-2.3-10.1-4.1c-2.4-1.3-4.6-2.8-6.1-5.2c-1.7-2.6-1.7-5.3,0-7.9c2.2-3.2,5.5-4.8,8.8-6.4c1-0.5,2.4-0.7,3-1.4
			c0.7-0.8-0.1-2.1-0.2-3.2c-0.7-9.2,5.7-18.4,14.5-21c1.6-0.5,2.7-0.1,3.1,1.1c0.4,1.1-0.4,2.1-2,2.6c-7,2.3-12.3,9.7-11.8,16.5
			c0.5,7.3,6.1,13.7,13.3,15.4c0.4,0.1,0.8,0.1,1.1,0.2c0.9,0.3,1.5,1,1.4,2c-0.1,1.1-0.8,1.6-1.9,1.7c-1,0-1.9-0.2-2.9-0.5
			C24,112,20,108.7,17.2,104c-0.7-1.2-1.3-1.4-2.6-0.9c-2.5,1.1-5,2.2-7.1,3.9c-3,2.4-3,5,0,7.4c4.1,3.3,9.1,4.8,14,6.2
			c9.5,2.7,19.1,4,28.9,5c8,0.8,16.1,1.1,24.1,1.1c11.1,0,22.3-0.5,33.3-2.1c8.7-1.2,17.3-2.7,25.6-5.7c2.7-1,5.2-2.1,7.6-3.7
			c0.8-0.5,1.6-1.2,2.2-1.9c1.7-1.8,1.8-3.5,0.1-5.3c-2.4-2.6-5.5-3.9-8.7-5.1c-0.4-0.2-0.7,0-1,0.3c-4.1,5.1-9.8,7.3-15.8,9
			c-5.2,1.5-10.6,2.3-16,2.7c-0.4,0-0.8,0-1.1,0c-1.1-0.2-1.8-0.8-1.8-1.9c0-1.1,0.7-1.7,1.7-1.8c1.9-0.2,3.9-0.3,5.8-0.5
			c5.8-0.6,11.5-2,16.9-4.3c3.8-1.6,6.9-4,8.8-7.8c1.8-3.9,0.8-9-3.1-10.9c-1-0.5-1.6-1.4-1-2.5c0.6-1.2,1.6-1.3,2.8-0.8
			c3.6,1.5,6.5,6.9,6.1,11c-0.1,1.4-1.3,2.9-0.4,4c0.7,1,2.3,1.2,3.5,1.8c1.8,0.9,3.4,1.9,4.9,3.2c4.5,3.8,4.7,8.7,0.2,12.7
			c-3,2.7-6.7,4.5-10.5,5.6c-3.3,1-5.6,2.7-7.8,5.5c-5.9,7.8-14.1,11.8-23.6,13.3C94,142.7,84.5,143.4,74.9,143.3z M123.8,125.9
			c-32.7,6.2-65.1,6.2-97.5,0c0.3,0.8,0.8,1.2,1.3,1.7c4.5,4.7,10,7.8,16.3,9.2c8.8,1.9,17.7,2.2,26.6,2.6c9.2,0.4,18.4-0.4,27.5-1.3
			c4.7-0.5,9.4-1.2,13.9-3.2C116.5,132.9,120.5,130.1,123.8,125.9z"></path> 
                            <path class="st1-1696590261" d="M76.5,53.1c8.2,0,15.2,1.1,21.6,4.6c3.1,1.7,5.8,3.8,8,6.5c1,1.2,1.1,2.4,0.1,3.1c-1.2,0.9-2.1,0.3-2.9-0.6
			c-5.6-6.4-12.9-8.9-21.1-9.6c-7.1-0.6-14,0-20.8,2.3c-1.8,0.6-3.5,1.5-5.2,2.4c-1.1,0.6-2.2,0.8-3-0.5c-0.7-1.3,0-2.1,1.1-2.8
			c5.1-3,10.8-4.4,16.6-5.1C73.1,53.2,75.3,53,76.5,53.1z"></path> 
                            <path class="st1-1696590261" d="M117,61.6c5.3,0,9.6,4.4,9.6,9.6c0.1,5.4-4.4,9.8-9.9,9.7c-5.2,0-9.6-4.4-9.6-9.7
			C107.1,65.9,111.5,61.5,117,61.6z M122.7,71.2c0-3.3-2.6-5.8-5.9-5.8c-3.3,0-5.8,2.6-5.7,5.9c0,3.3,2.6,5.9,5.9,5.9
			C120.2,77.1,122.7,74.5,122.7,71.2z"></path> 
                            <path class="st1-1696590261" d="M46.2,83.9c-5.5,0-9.7-4.2-9.7-9.6c0-5.3,4.4-9.7,9.7-9.7c5.3,0,9.7,4.4,9.7,9.7
			C55.9,79.7,51.7,83.9,46.2,83.9z M46.3,80.1c3.2,0,5.9-2.7,5.8-5.9c0-3.2-2.8-5.9-6-5.9c-3.2,0.1-5.9,2.8-5.8,6
			C40.3,77.4,43.1,80.1,46.3,80.1z"></path> 
                            <path class="st1-1696590261" d="M102.9,52c-0.8,0-1.3-0.3-1.7-0.9c-0.4-0.6-0.4-1.2,0-1.8c0.3-0.4,0.6-0.7,1-1.1c3.5-3.4,4.1-8.4,1.3-12.4
			c-1.5-2.1-3.2-3.9-4.7-6c-3.6-5.2-2.8-11.8,2-15.9c1.1-0.9,2.3-1.6,3.6-2.1c1.3-0.4,2.4-0.4,3,1c0.5,1.4-0.4,2-1.6,2.5
			c-3.8,1.5-5.6,4.6-5.4,8.5c0.1,1.7,1,3.1,1.9,4.4c1.5,2,3.3,3.7,4.6,5.8c3.4,5.3,2.6,12.5-2.1,16.7C104.3,51.4,103.7,51.9,102.9,52
			z"></path> 
                            <path class="st1-1696590261" d="M49.9,11.6c1,0,1.7,0.5,2,1.4c0.3,0.9-0.2,1.6-0.9,2c-0.5,0.3-1,0.4-1.5,0.6c-4.3,2-6,7.4-3.5,11.4
			c1.2,2,2.9,3.6,4.3,5.5c4.6,5.9,4.3,13.3-0.8,18.2c-0.4,0.4-0.9,0.8-1.4,1.1c-0.9,0.4-1.7,0.2-2.3-0.6c-0.6-0.7-0.5-1.5,0.1-2.2
			c0.3-0.3,0.6-0.6,0.9-0.9c3.4-3.3,4-8.2,1.3-12.1c-1.4-2.1-3.2-3.9-4.7-6c-3.8-5.3-2.9-12,2-16.2C46.6,12.7,48.2,11.8,49.9,11.6z"></path> 
                            <path class="st1-1696590261" d="M77.5,36.5c0-2.5-0.8-4.4-2.1-6.2c-1.6-2.1-3.4-3.9-4.8-6.1c-3.6-5.8-1.6-13.3,4.2-16.6c0.9-0.5,1.8-0.9,2.9-1
			c0.9-0.1,1.6,0.3,1.9,1.2c0.3,0.9,0,1.7-0.8,2.2c-0.3,0.2-0.7,0.3-1,0.4c-4.8,2-6.6,7.7-3.6,12c1.2,1.7,2.6,3.2,3.8,4.8
			c4.8,5.9,4.5,13.5-0.6,18.5c-0.3,0.3-0.6,0.5-0.9,0.7c-0.9,0.7-1.9,0.8-2.7-0.1c-0.8-1-0.6-1.9,0.3-2.7c1.8-1.6,3-3.5,3.4-5.9
			C77.4,37.2,77.4,36.7,77.5,36.5z"></path> 
                            <path class="st1-1696590261" d="M85.4,84.7c-0.1,1.1-0.6,1.8-1.7,2C82.6,86.8,82,86,81.7,85c-1.4-3.9-4.1-5.7-8.2-5.7c-2.7,0-5.1,0.8-7.4,2.1
			c-4.4,2.5-7.8,6-10.1,10.5c-1,2-1.9,2.6-3.1,2c-1.3-0.6-1.4-1.7-0.3-3.8c3.9-7.2,9.6-12.4,17.7-14.3c5.7-1.4,11.1,0.9,13.9,5.3
			C84.9,82.2,85.3,83.4,85.4,84.7z"></path> 
                            <path class="st1-1696590261" d="M42.4,118.1c-0.8-0.1-1.5-0.5-1.8-1.2c-0.3-0.8-0.1-1.5,0.5-2c0.4-0.3,0.9-0.6,1.4-0.8
			C54.3,109,62.4,100.5,67,88.5c0.1-0.3,0.2-0.6,0.4-0.9c0.5-0.9,1.3-1.3,2.3-1c1,0.3,1.4,1.1,1.2,2.2c-0.1,0.4-0.2,0.8-0.4,1.2
			c-5,12.8-13.8,22.1-26.4,27.6c-0.4,0.2-0.8,0.3-1.2,0.4C42.7,118.1,42.5,118.1,42.4,118.1z"></path> 
                            <path class="st1-1696590261" d="M78.5,63.5c6.6-0.1,12.6,1.8,18.1,5.4c0.4,0.2,0.7,0.5,1.1,0.8c0.8,0.7,1.1,1.6,0.4,2.6
			c-0.7,0.9-1.6,1.1-2.6,0.5c-1.8-1.2-3.6-2.4-5.7-3.2c-9.3-3.6-18.2-3.3-26.6,2.3c-1,0.7-2.1,0.9-2.9-0.2c-0.8-1.1-0.4-2.1,0.6-2.9
			c4.5-3.3,9.6-4.8,15.1-5.3C76.8,63.5,77.7,63.5,78.5,63.5z"></path> 
                            <path class="st1-1696590261" d="M86.3,117.3c-4.5,0-8.2-3.6-8.2-8.1c0-4.6,3.6-8.3,8.2-8.3c4.5,0,8.3,3.8,8.2,8.3
			C94.5,113.6,90.8,117.3,86.3,117.3z M90.6,109.2c0-2.5-1.7-4.3-4.2-4.4c-2.4-0.1-4.4,1.8-4.5,4.2c-0.1,2.4,2,4.5,4.3,4.5
			C88.6,113.5,90.5,111.6,90.6,109.2z"></path> 
                            <path class="st1-1696590261" d="M100.8,73.9c4.5,0,8.2,3.5,8.3,8c0.1,4.4-3.8,8.3-8.2,8.4c-4.5,0-8.2-3.7-8.2-8.3
			C92.7,77.4,96.2,73.9,100.8,73.9z M105.2,82c0-2.5-1.9-4.3-4.3-4.3c-2.3,0-4.3,2-4.3,4.3c0,2.5,1.9,4.3,4.5,4.3
			C103.5,86.3,105.2,84.5,105.2,82z"></path> 
                            <path class="st1-1696590261" d="M117.9,84.3c4.4,0,8.1,4.9,7,9.2c-0.8,3-2.7,5.1-5.2,6.8c-4.8,3.3-10.3,4.7-15.9,5.6c-0.9,0.1-1.8,0.3-2.7,0.3
			c-1.1,0-1.9-0.6-2-1.7c-0.1-1.1,0.6-1.8,1.7-2c2.4-0.5,4.9-0.8,7.3-1.4c3.4-0.8,6.8-1.9,9.7-4c1.3-0.9,2.4-2,3.1-3.4
			c1.2-2.5-0.4-5.4-3.2-5.6c-1.3-0.1-2.4-0.3-2.4-1.9C115.2,84.9,116.1,84.3,117.9,84.3z"></path> 
                            <path class="st1-1696590261" d="M41,110.5c-0.1,0-0.3,0-0.5-0.1c-5.3-1.7-10.2-4.1-13.4-8.9c-3.3-4.9-2.7-9.8,0.2-14.7
			c0.9-1.5,2.1-2.9,3.4-4.1c1.3-1.2,2.4-1.3,3.3-0.4c0.9,0.9,0.6,2-0.7,3.2c-2.1,2-3.7,4.2-4.3,7.1c-0.8,3.7,0.7,6.5,3.3,9
			c2.3,2.2,5.1,3.6,8.1,4.7c0.6,0.2,1.2,0.4,1.8,0.7c0.8,0.4,1.2,1.1,0.9,2C42.8,110.1,42.1,110.5,41,110.5z"></path> 
                            <path class="st1-1696590261" d="M75.5,95.9c1.5-0.1,2.3,1.4,1.6,3c-1.3,3-3,5.8-4.9,8.4c-4.6,6.2-10.4,11.1-17.4,14.5c-0.3,0.2-0.7,0.3-1,0.4
			c-1,0.3-1.7-0.1-2.2-0.9c-0.5-0.9-0.3-1.7,0.5-2.3c0.4-0.3,0.8-0.5,1.2-0.8c9.1-4.6,15.8-11.4,20.2-20.6
			C73.9,96.9,74.3,96,75.5,95.9z"></path> 
                            <path class="st1-1696590261" d="M40.4,86.6c1.1,0,1.7,0.4,2,1.2c0.3,0.8,0.1,1.5-0.5,2.1c-2.8,2.8-2.7,5.6,0.3,8.2c1.5,1.3,3.2,2.2,5,2.9
			c0.6,0.3,1.3,0.5,1.9,0.9c0.8,0.6,1.1,1.4,0.6,2.3c-0.5,0.9-1.2,1.3-2.2,1c-4-1.5-7.9-3.3-10.3-7.2c-2-3.3-1.7-7.3,0.8-9.9
			C38.7,87.3,39.5,86.6,40.4,86.6z"></path> 
                            <path class="st1-1696590261" d="M93.6,94.1c3.7,0,7.4-0.5,11.1-1.3c1-0.2,1.9-0.6,2.6-1.5c0.6-0.9,1.6-1.1,2.6-0.5c1.1,0.7,1.1,1.7,0.6,2.7
			c-0.7,1.4-2,2.3-3.5,2.7c-5.5,1.5-11,2.1-16.7,1.9c-1.2,0-2.3-0.5-2.3-1.9c0-1.5,1.1-1.9,2.5-2C91.5,94.1,92.6,94.1,93.6,94.1z"></path> 
                            <path class="st1-1696590261" d="M65.4,123.4c0-0.8,0.4-1.3,1.1-1.7c2.2-1.4,4.3-2.9,6.2-4.7c0.9-0.8,2-0.9,2.9,0c0.8,0.9,0.6,1.9-0.3,2.7
			c-2.1,2-4.3,3.8-6.8,5.2C66.9,125.8,65.4,125,65.4,123.4z"></path> 
	</g> 
                            <g class="st0-1696590261"> <path class="st1-1696590261" d="M76.5,141.2c-14.1,0-26.2-1.9-37.9-6.3c-15.4-5.8-25.4-17-31.3-32.1c-3.1-8-4.6-16.4-5.3-25
			c-0.2-3-0.1-6-0.4-9c-0.2-2,0.7-2.9,2.8-2.9c2.4,0,4.7-0.1,7.1,0c1.4,0,1.6-0.5,1.4-1.7c-1.1-9.2,0.3-17.9,5-26
			c2.8-4.8,6.8-8.2,12.4-9.3c0.6-0.1,1.1-0.2,1.7-0.2c0.8,0,1.3-0.4,1.8-1c1-1.3,2.1-2.5,3.7-3.2c0.9-0.4,1-0.9,0.8-1.8
			c-0.9-4-0.4-7.7,2.5-10.8c4.3-4.6,11.7-4.2,15.9,0.8c0.8,0.9,1.3,1.1,2.5,0.5c6-3,13.7,0.7,15.7,7.7c0.5,1.7,1.1,2.3,2.8,2.1
			c1.1-0.1,2.2,0.2,3.2,0.7c1,0.5,1.5,0.2,2.1-0.6c2.9-4,7.7-5.8,12.1-4.4c3.3,1,5.6,3.2,6.7,6.5c0.4,1.2,0.7,1.2,1.6,0.4
			c3.4-2.8,7.3-3.5,11.4-1.8c0.9,0.4,1.2,0,1.6-0.6c1.9-2.7,4.6-4.4,7.9-4.9c5.5-0.8,10.5,2.9,11.6,8.6c0.3,1.6,0.3,3.2-0.1,4.7
			c-0.2,0.7,0,1.1,0.7,1.3c6.7,2.3,9.1,11.5,4.2,17.9c-0.9,1.1-0.9,1.8-0.1,3c2,3.2,2.6,6.8,1.8,10.6c-0.3,1.4,0.2,1.6,1.4,1.6
			c0.6,0,1.3,0,1.9,0c1.8,0.1,2.6,0.9,2.5,2.6c-0.2,8.7-0.9,17.3-3,25.8c-2.6,10.5-7.3,19.9-14.6,27.9c-4.7,5.1-10.4,8.7-16.7,11.5
			c-8.7,3.8-17.8,5.9-27.3,6.8C82.7,141,78.8,141.3,76.5,141.2z M75,69.9c-17.4,0-34.8,0-52.2,0c-5.2,0-10.4,0-15.7,0
			c-1.1,0-1.5,0.3-1.4,1.4c0,1.7,0.2,3.5,0.3,5.2c0.5,8.9,2.1,17.5,5.4,25.8c3,7.7,7.4,14.4,13.6,20c5.3,4.8,11.6,7.8,18.3,10.1
			c12.4,4.2,25.2,5.5,38.3,4.7c7.7-0.5,15.2-1.7,22.6-3.9c14.7-4.3,25.8-12.8,32.6-26.7c5.3-10.9,7.1-22.6,7.5-34.6c0.1-2,0-2-2.1-2
			C119.8,69.9,97.4,69.9,75,69.9z M83.6,64.4c1-1.9,2.1-3.3,3.7-4.3c5.1-3.1,11.5-0.9,13.6,4.7c0.5,1.3,1.3,1.1,2.3,1.2
			c1,0.1,1.4-0.4,1.6-1.3c1-3.8,0.5-7.3-2.2-10.3c-2-2.2-2-2.7,0.2-4.6c2.6-2.3,3.6-5.2,2.7-8.6c-0.8-3.1-3-4.6-6.1-4.9
			c-2-0.2-2.5-1.3-1.7-3.2c0.4-1,0.7-2.1,0.9-3.2c0.6-4.1-2.5-7.7-6.5-7.6c-3.6,0-5.6,2.3-6.9,5.3c-1,2.2-2,2.5-3.9,1
			c-2.7-2.2-6.2-2.2-8.8,0.2c-2.3,2-3.1,4.6-2.9,7.7c0.2,2.1-0.5,2.7-2.6,2.7c-4.4,0-7.4,2.1-9.6,5.7c-0.6,0.9-0.6,1.7-0.1,2.7
			c2.7,5.4,4.3,11.2,4.7,17.2c0,0.4,0,0.8,0.3,1.1c0.9,0.7,3.5,0,3.9-1.1c1.6-4,5.4-6.4,9.6-6c1.1,0.1,1.5-0.2,1.9-1.2
			c2-5,4.1-9.9,6.2-14.8c1.1-2.6,2.2-5.2,3.3-7.7c0.5-1.2,1.4-1.6,2.6-1.2c1.1,0.3,1.5,1.4,1.1,2.6c-0.2,0.6-0.4,1.1-0.6,1.6
			c-3,7.1-6,14.2-9,21.4c-0.2,0.6-0.6,1.1,0,1.7C82.3,62,82.9,63.1,83.6,64.4z M109.5,61.9c0.3-0.6,0.5-1.2,0.8-1.9
			c3.4-8.1,6.9-16.3,10.3-24.4c0.7-1.7,1.7-2.3,2.9-1.8c1.2,0.5,1.4,1.7,0.7,3.4c-0.1,0.1-0.1,0.3-0.2,0.4
			c-3.8,8.9-7.5,17.9-11.3,26.9c-0.6,1.5-0.6,1.5,1,1.5c7.6,0,15.2,0,22.8,0c1.2,0,1.7-0.5,1.9-1.6c0.7-4,0.3-7.6-2.8-10.6
			c-1.4-1.3-1.3-2.4,0.2-3.6c0.2-0.2,0.5-0.3,0.7-0.5c2.5-2.4,3.4-5.3,2.5-8.6c-0.8-3.1-3.1-4.5-6.2-4.8c-1.8-0.2-2.5-1.4-1.7-3.1
			c0.7-1.4,0.9-2.9,0.9-4.5c-0.1-2.7-1.3-4.8-3.8-5.9c-2.5-1.1-4.9-0.6-7,1.2c-1.3,1-2.1,2.4-2.7,3.9c-0.7,1.8-2.2,2.3-3.5,0.9
			c-3.1-3.2-9-2.2-11.3,2.8c-0.5,1-0.3,1.6,0.7,2.2c2.4,1.4,4,3.5,4.8,6.1c1.2,4.2,0.3,8-2.4,11.4c-0.4,0.6-0.9,1-0.3,1.7
			C108.6,55.6,109.4,58.6,109.5,61.9z M16.7,59.5c-0.1,1.3,0.1,3.2,0.3,5.1c0.1,0.9,0.5,1.4,1.5,1.3c1.2,0,2.4-0.1,3.6,0
			c1.4,0.1,1.6-0.3,1.2-1.6c-3-10.5,6.4-20.5,17.1-18.2c8.2,1.8,13.2,10.1,10.9,18.2C51,65.7,51.3,66,52.7,66c1.3-0.1,2.7-0.1,4.1,0
			c1.1,0.1,1.5-0.4,1.3-1.5c-0.4-3.7-1-7.3-2.3-10.7c-2.6-7-6.6-13.1-12.7-17.6c-3.5-2.6-7.4-4-11.8-3.2c-5,0.9-8.1,4.2-10.4,8.5
			C17.9,46.8,16.7,52.7,16.7,59.5z M38,29.2c2,0.7,3.8,1.5,5.4,2.5c4,2.4,7.3,5.7,10.1,9.4c0.2,0.3,0.3,0.9,0.9,0.8
			c0.8-0.1,2.1-2.9,1.7-3.6c-1.9-3.6-3.7-7.2-5.6-10.8c-0.8-1.5-0.6-2.6,0.5-3.3c1.1-0.6,2.2-0.2,3,1.4c1.8,3.4,3.6,6.7,5.3,10.1
			c0.4,0.8,0.8,1.1,1.7,0.7c1.1-0.5,2.2-0.8,3.3-1c0.9-0.2,1.3-0.6,1.4-1.5c0.3-3.5,1.9-6.4,4.7-8.5c1.1-0.8,1.3-1.7,1-2.9
			c-1.6-6-8.8-8.5-12.4-4c-1.1,1.4-2.6,1-3.4-0.5c-0.5-0.9-0.9-1.8-1.6-2.6c-1.9-2-4.2-3.1-7-2.4c-2.6,0.6-4.1,2.4-4.7,5
			c-0.5,2.1-0.1,4.1,1,6c1.1,2,0.5,3.2-1.7,3.6C40.2,27.7,39.1,28.1,38,29.2z M37.3,65.9c2.6,0,5.2,0,7.8,0c1,0,1.5-0.3,1.9-1.2
			c1-2.3,1.2-4.8,0.6-7.2c-1.5-5.8-7.8-9.1-13.6-7.2c-5.5,1.8-8.6,8.4-6.5,13.8c0.5,1.2,1,1.9,2.5,1.8C32.4,65.8,34.9,65.9,37.3,65.9
			z M75,65.9c1.3,0,2.5,0,3.8,0c0.9,0,1-0.3,0.6-1c-1.7-2.9-6.9-2.9-8.7,0c-0.4,0.7-0.4,1.1,0.5,1.1C72.5,65.9,73.7,65.9,75,65.9z
			 M92.4,65.9c1.3,0,2.6,0,3.9,0c0.7,0,0.9-0.2,0.5-0.9c-1-1.6-2.5-2.4-4.4-2.4c-1.8,0-3.4,0.7-4.4,2.3c-0.4,0.6-0.3,1,0.5,1
			C89.8,65.9,91.1,65.9,92.4,65.9z"></path> 
	</g> 
                            <g class="st0-1696590261"> <circle class="st2-1696590261" cx="68.7" cy="75.2" r="64.8"></circle> 
                            <g class="st1-1696590261"> <path class="st3-1696590261" d="M22.7,59.3c0.1-1.9,0.3-3.8,0.4-5.6c0.1-1.6,0.2-3.1,0.3-4.7c0-0.4-0.2-0.9,0.3-1.1c0.4-0.2,0.7,0.3,1,0.5
				c3.6,2.8,7.2,5.7,10.8,8.5c10,7.9,20,15.7,29.9,23.7c1,0.8,1.6,0.8,2.6,0c20.9-16.1,41.8-32.2,62.7-48.2
				c4.6-3.5,9.2-7.1,13.8-10.6c0.3-0.2,0.6-0.7,1-0.5c0.4,0.2,0.2,0.7,0.3,1.1c0.2,4.4,0.5,8.8,0.7,13.1c0.1,1-0.2,1.7-0.9,2.3
				c-15.4,14.9-30.8,29.9-46.2,44.8c-8,7.7-15.9,15.5-23.9,23.2c-2.9,2.8-5.8,5.7-8.8,8.5c-1.1,1.1-1.2,1.1-2.2-0.1
				c-8.1-9.8-16.2-19.7-24.4-29.5c-5.8-7-11.6-14.1-17.4-21.1C22.7,62.2,22.7,60.7,22.7,59.3z"></path> 
	</g> 
	</g> 
                            <g> <path d="M148.8,120.5c-0.9,1-2,1.2-3.2,1.2c-20.3,0-40.6,0-60.9,0c-0.2,0-0.5,0-0.7,0c-1.6-0.1-2.6-1-2.6-2.3c0-1.3,1-2.3,2.6-2.4
			c1.3-0.1,2.7-0.1,4,0c0.9,0,1.4-0.3,1.9-1c3.7-6.1,9.2-8.9,16.2-9c0.2,0,0.4,0,0.6,0c2,0,2,0,1.8-2c-0.7-7.5,6.1-12.4,11.8-11.3
			c1.1,0.2,1.4-0.4,1.5-1.4c0.1-1.1-0.7-0.8-1.3-0.8c-4.5,0-9,0-13.5,0c-33.8,0-67.5,0-101.3,0c-0.9,0-1.8,0-2.7-0.2
			c-1.2-0.2-1.8-1.1-1.7-2.3c0.1-1.2,0.8-1.9,2-2.1c0.5-0.1,1,0,1.4,0c7.7,0,15.4,0,23.1,0c1.1,0,1.6-0.3,1.9-1.5
			c2.3-11,11.1-19.3,22.1-20.6c13.5-1.7,25.7,7.1,28.6,20.6c0.3,1.3,0.8,1.6,2,1.6c12.9,0,25.8,0,38.8,0c1.1,0,1.8-0.2,1.9-1.5
			c0.5-10-1.6-19.5-6.6-28.2c-0.9-1.6-1-1.6-2.2-0.3c-3.6,3.7-7.1,7.4-10.7,11.1c-2.4,2.5-4.9,2.1-6.4-1.1
			c-2.4-5.1-2.4-10.3,0.2-15.4c0.7-1.5,0.7-1.5-0.9-1.9c-2.8-0.6-5.6-1.3-8.4-1.9c-2.9-0.7-3.8-2.8-2.2-5.3c2.7-4.4,6.6-7.1,11.7-8.2
			c0.4-0.1,0.8-0.2,1.1-0.3c0.1,0,0.1-0.1,0.3-0.2c-1.8-1.4-3.7-2.4-5.8-3.2c-1.5-0.6-2.6-1.4-2.7-3.2c0-1.8,1.2-2.6,2.6-3.2
			c2.2-0.9,4.6-1.5,7-1.5c1.6,0,2.6,0.8,2.7,2.2c0,1.3-0.8,2.2-2.3,2.4c-0.7,0.1-1.4,0.2-2.5,0.3c2.1,1.3,4,2.5,5.6,3.9
			c0.5,0.4,1.1,0.8,1.5,1.4c1.7,2.3,4.3,3.1,6.8,4.8c-0.4-1.9-0.3-3.6,0-5.2c0.1-0.6-0.3-1-0.7-1.4c-0.8-0.6-1.6-1.2-2.4-1.9
			c-0.9-0.8-1.2-1.9-0.4-3c0.7-1,1.8-1.3,3-0.8c0.8,0.4,1.4,1.5,2.3,1.2c0.7-0.3,1-1.4,1.5-2.1c3.6-4.6,8.2-7.1,14.1-7.1
			c2.6,0,3.9,1.7,3.2,4.2c-0.9,3-1.8,6-2.7,8.9c-0.3,1-0.2,1.3,1,1.4c5.8,0.3,10.4,2.9,13.8,7.6c2,2.8,1.1,5.3-2.2,6.1
			c-4.8,1.2-9.6,2.4-14.4,3.6c-1.5,0.4-1.5,0.4-0.5,1.7c6.3,8.2,10.6,17.2,12.5,27.4c0.4,2.4,0.8,4.8,0.7,7.3c0,1,0.3,1.4,1.3,1.3
			c1.4-0.1,2.8,0,4.2,0c1.3-0.1,2.3,0.3,3,1.3c0,0.7,0,1.3,0,2c-0.7,1.1-1.8,1.4-3,1.4c-1.4,0-2.8,0.1-4.2,0c-1.2,0-1.7,0.4-1.7,1.6
			c-0.1,1.7-0.4,3.3-0.8,4.9c-0.5,2.1-0.5,2.1,1.7,2.7c2.8,0.8,5.7,1.5,7.9,3.5c0,0.7,0,1.3,0,2c-1.2,1.5-2,1.7-3.9,0.8
			c-4.6-2.1-9.4-3-14.4-2.8c-0.7,0-1.4,0-1.5,1c-1.5,8.4-10.2,11.8-17,6.6c-0.4-0.3-0.8-0.8-1.4-0.6c-2.6,0.8-5.4,0.3-8,0.8
			c-3.1,0.7-5.7,2.2-7.9,5.1c0.9,0,1.5,0,2,0c16.2,0,32.4,0,48.7,0c1.3,0,2.5,0.2,3.4,1.2C148.8,119,148.8,119.8,148.8,120.5z
			 M54.8,86.7c6.5,0,13,0,19.4,0c1.4,0,1.5-0.5,1.2-1.6C73.1,75.7,64.5,69,54.8,69c-9.6,0-18.2,6.8-20.5,16.1
			c-0.3,1.2-0.1,1.6,1.2,1.6C41.9,86.7,48.4,86.7,54.8,86.7z M127.6,81.6c-0.1,4.4-0.6,8.8-1.6,13.1c-0.2,0.7-0.2,1.2,0.2,1.9
			c1.2,2.1,2.7,3.6,5.4,2.8c0.3-0.1,0.7,0,1,0c1.1,0.1,1.5-0.4,1.8-1.4c1.3-5.3,1.7-10.7,1-16.1c-1.4-11.5-6.2-21.5-13.6-30.3
			c-0.9-1-1.7-1-2.6-0.3c-1.1,0.8-0.2,1.4,0.2,2.1C124.7,62,127.4,71.5,127.6,81.6z M99.9,59.5c0,0.8,0.1,1.8,0.4,2.8
			c0.1,0.4,0.1,1,0.5,1.1c0.5,0.1,0.7-0.4,1-0.7c4.6-4.8,9.3-9.6,13.9-14.4c0.9-1,2-1.6,3.3-1.9c6.4-1.6,12.8-3.2,19.3-4.8
			c0.4-0.1,1.1,0,1.2-0.6c0.1-0.4-0.4-0.7-0.7-1c-5.9-5.8-15.9-4.5-20.1,2.7c-1.4,2.5-3.2,3.5-6,3.5C105.5,46.2,99.9,52,99.9,59.5z
			 M118.7,109.6c3.3,0,5.8-2.5,5.8-5.6c0-3.2-2.6-5.8-5.8-5.8c-3.2,0-5.6,2.4-5.7,5.6C113,107.1,115.4,109.5,118.7,109.6z
			 M116.4,37.7c2.1-2.2,4.3-3.7,6.8-4.7c0.6-0.2,0.8-0.7,0.9-1.2c0.9-2.8,1.7-5.7,2.6-8.5c0.3-1.1,0.2-1.4-1-1.1
			c-5,1.5-8.1,4.7-9.4,9.7C115.9,33.8,115.8,35.6,116.4,37.7z M100.7,38.2c-3.7,0.2-6.9,1.4-9.5,4.1c-0.7,0.7-0.6,1,0.4,1.3
			c3,0.6,6,1.3,9,2c0.6,0.1,1,0.1,1.5-0.3c1.9-1.5,4-2.5,6.2-3.1c0.3-0.1,0.7,0,0.8-0.5c0-0.4-0.3-0.6-0.6-0.8
			C106.1,39.2,103.5,38.4,100.7,38.2z"></path> 
                            <path d="M148.8,134.4c-0.9,1-2,1.2-3.2,1.2c-37.8,0-75.6,0-113.3,0c-0.5,0-1.1,0-1.6-0.1c-1.2-0.3-1.8-1.1-1.8-2.3
			c0-1.1,0.7-1.9,1.8-2.2c0.5-0.1,1-0.1,1.6-0.1c37.8,0,75.6,0,113.3,0c1.3,0,2.4,0.3,3.2,1.2C148.8,132.8,148.8,133.6,148.8,134.4z"></path> 
                            <path d="M54.9,96.8c4.7,0,9.4,0,14.1,0c0.5,0,1.1,0,1.6,0.1c1,0.3,1.6,1,1.7,2.1c0,1.1-0.5,1.8-1.5,2.2c-0.6,0.3-1.3,0.3-2,0.3
			c-9.3,0-18.5,0-27.8,0c-0.4,0-0.9,0-1.3-0.1c-1.4-0.3-2.2-1.2-2.2-2.4c0.1-1.2,1-2.1,2.4-2.2c0.9,0,1.8,0,2.7,0
			C46.7,96.8,50.8,96.8,54.9,96.8z"></path> 
                            <path d="M54.8,109.7c-3,0-5.9,0-8.9,0c-1.8,0-2.9-0.9-2.9-2.3c0-1.3,1.1-2.2,2.8-2.2c6,0,12.1,0,18.1,0c1.7,0,2.8,0.9,2.8,2.2
			c0,1.4-1.1,2.3-2.9,2.3C60.8,109.7,57.8,109.7,54.8,109.7z"></path> 
                            <path d="M12.2,135.6c-2.8,0-5.6,0-8.4,0c-1.7,0-2.7-0.9-2.7-2.4c0-1.5,1-2.3,2.8-2.3c3.6,0,7.3,0,10.9,0c1.9,0,3.7,0,5.6,0
			c1.7,0,2.7,0.9,2.7,2.4c0,1.4-1,2.3-2.7,2.3C17.8,135.6,15,135.6,12.2,135.6z"></path> 
                            <path d="M56.7,14.4c2.2,1.5,4.8,0.5,7.4,0.1c1.8-0.3,3.4,0.7,4.7,2.1c0.9,1,0.9,2.2,0.1,3.1c-0.8,0.9-2,1-3.1,0.3
			c-1.9-1.3-1.9-1.3-3.7,0.2c-1.3,1.1-2.8,1-4-0.1c-1.4-1.3-1.8-1.3-3.3-0.2c-1.2,0.9-2.5,0.8-3.3-0.2c-0.8-1-0.7-2.2,0.3-3.2
			C53,15.1,54.5,14.6,56.7,14.4z"></path> 
                            <path d="M21.4,38.1c2.1,1.4,4.6,0.5,7.2,0.1c1.8-0.3,3.4,0.7,4.7,2c1,1.1,1,2.3,0.1,3.2c-0.9,1-2,1-3.2,0.2c-1.6-1.1-2-1.1-3.5,0.2
			c-1.3,1.1-2.7,1.1-4,0c-1.4-1.3-1.9-1.3-3.5-0.2c-1.2,0.8-2.4,0.7-3.2-0.2c-0.8-0.9-0.8-2.1,0.1-3.1C17.1,39,19.2,38,21.4,38.1z"></path> 
                            <path d="M54.9,118c-1.3,0-2.6,0-3.9,0c-1.5-0.1-2.4-1-2.4-2.3c0-1.2,0.9-2.3,2.3-2.3c2.7-0.1,5.4-0.1,8.1,0c1.4,0,2.3,1.1,2.3,2.3
			c0,1.3-1,2.2-2.5,2.3C57.5,118,56.2,118,54.9,118z"></path> 
                            <path d="M57.3,55.5c-0.1,0.6,0,1.2-0.2,1.8c-0.3,1.2-1.1,1.9-2.3,1.8c-1.1,0-1.9-0.7-2.2-1.8c-0.3-1.2-0.3-2.4,0-3.6
			c0.2-1.2,1-1.9,2.2-1.9c1.2,0,2,0.7,2.3,1.8C57.2,54.3,57.2,54.8,57.3,55.5z"></path> 
                            <path d="M40.5,61.4c-0.1,0.9-0.5,1.7-1.4,2c-1,0.4-1.9,0.2-2.6-0.6c-0.7-0.9-1.3-1.9-1.7-3c-0.4-1.1-0.2-2.1,0.9-2.7
			c1.1-0.6,2.1-0.4,3,0.5C39.4,58.5,40.5,60.6,40.5,61.4z"></path> 
                            <path d="M28.2,73.6c0,1.6-1.5,2.6-3,2.1c-1.1-0.4-2.1-1-3-1.7c-1-0.8-1.1-1.9-0.5-3c0.6-1.1,1.6-1.4,2.7-0.9c1,0.4,1.9,1,2.9,1.6
			C27.9,72.2,28.2,72.8,28.2,73.6z"></path> 
                            <path d="M84,75.9c-1.1-0.1-1.9-0.6-2.3-1.5c-0.3-0.9-0.2-1.8,0.6-2.5c1-0.8,2.1-1.4,3.2-1.9c0.9-0.3,1.7-0.1,2.3,0.7
			c0.6,0.8,0.8,1.7,0.3,2.5C87.1,74.7,85.5,75.3,84,75.9z"></path> 
                            <path d="M75.2,59.3c-0.4,1.3-1,2.9-2.4,3.9c-0.8,0.6-1.8,0.5-2.5-0.1c-0.8-0.6-1.2-1.5-0.8-2.5c0.5-1.1,1-2.2,1.8-3.1
			c0.7-0.8,1.7-0.9,2.6-0.5C74.8,57.3,75.2,58,75.2,59.3z"></path> 
	</g> 
	</svg>
                        </div>

                        <div class="processCard_content">
                            <h2><strong>4.</strong>  Enjoy Your Trip</h2>
                            <p>Specialized knowledge that allows for a flexible trip. Available for the whole trip or just part. In the end, you’ll consider your new friend a highlight of your trip.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="processInfo_row_one processBtn_row">
        <div class="container">
            <div class="button_block">
                <a href="tel:702- 527-0939" class="common_btn">SCHEDULE DISCOVERY CALL</a>
            </div>
        </div>
    </div>
</section>



<section id="section_block" class="parallaxImg_section howdoIstart_section">
    <div class="container">
        <div class="sectionTitle_line">
            <h2>How do I start?</h2>
            <hr class="dmDivider">
        </div>


        <div class="row sectionContainer">
            <div class="col-lg-4">
                <div class="pomoText_block solidColorBg bgColorOne">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" id="1781368647" class="svg u_1781368647" data-icon-name="wp-calendar">
                            <g>
                                <rect x="25.3" y="12" width="2" height="4"></rect>
                                <rect x="49.3" y="12" width="2" height="4"></rect>
                                <path d="M63.3,16h-12v4h-2v-4h-22v4h-2v-4h-12v42h50V16z M61.3,56h-46V26h46V56z"></path>
                                <path d="M19.3,30v20h38V30H19.3z M37.3,38v4h-7v-4H37.3z M30.3,36v-4h7v4H30.3z M37.3,44v4h-7v-4H37.3z M39.3,44h7v4h-7V44z
		 M39.3,42v-4h7v4H39.3z M39.3,36v-4h7v4H39.3z M21.3,32h7v4h-7V32z M21.3,38h7v4h-7V38z M21.3,44h7v4h-7V44z M55.3,48h-7v-4h7V48z
		 M55.3,42h-7v-4h7V42z M55.3,36h-7v-4h7V36z"></path>
                            </g>
                        </svg>
                    </div>
                    <h2>Pick a Time</h2>
                    <p>It all starts with choosing a date and time that works for you.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block solidColorBg bgColorOne">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" id="1738111984" class="svg u_1738111984" data-icon-name="time_and_location_alarm_clock_">
                            <path d="M50,81.3A31.94,31.94,0,1,1,81.94,49.35,32,32,0,0,1,50,81.3Zm0-61.57A29.63,29.63,0,1,0,79.63,49.35,29.67,29.67,0,0,0,50,19.72Z"></path>
                            <path d="M77.44,36.19a1.15,1.15,0,0,1-.82-2,11,11,0,1,0-17.06-13.8,1.15,1.15,0,1,1-1.93-1.26A13.34,13.34,0,1,1,78.26,35.85,1.15,1.15,0,0,1,77.44,36.19Z"></path>
                            <path d="M22.68,36.31a1.15,1.15,0,0,1-.8-.33A13.34,13.34,0,1,1,42.23,19a1.15,1.15,0,0,1-1.91,1.29A11,11,0,1,0,23.48,34.33a1.15,1.15,0,0,1-.8,2Z"></path>
                            <path d="M50,74.07A24.72,24.72,0,1,1,74.72,49.35,24.74,24.74,0,0,1,50,74.07Zm0-47.12A22.41,22.41,0,1,0,72.41,49.35,22.43,22.43,0,0,0,50,26.95Z"></path>
                            <path d="M50,74.07A24.72,24.72,0,1,1,74.72,49.35,24.74,24.74,0,0,1,50,74.07Zm0-47.12A22.41,22.41,0,1,0,72.41,49.35,22.43,22.43,0,0,0,50,26.95Z"></path>
                            <path d="M50,51.52a2.17,2.17,0,1,1,2.17-2.17A2.17,2.17,0,0,1,50,51.52Zm0-2.31a.14.14,0,0,0-.14.14c0,.15.28.15.28,0A.14.14,0,0,0,50,49.22Z"></path>
                            <path d="M50,50.51a1.15,1.15,0,0,1-.89-.42L36.43,34.58a1.15,1.15,0,1,1,1.79-1.46l12.67,15.5A1.15,1.15,0,0,1,50,50.51Z"></path>
                            <path d="M50,50.51a1.15,1.15,0,0,1-.8-2l10.09-9.82a1.15,1.15,0,0,1,1.61,1.65L50.8,50.18A1.15,1.15,0,0,1,50,50.51Z"></path>
                            <path d="M50,31.38a1.15,1.15,0,0,1-1.15-1.15V25.79a1.15,1.15,0,1,1,2.31,0v4.43A1.15,1.15,0,0,1,50,31.38Z"></path>
                            <path d="M50,74.07a1.15,1.15,0,0,1-1.15-1.15V68.48a1.15,1.15,0,1,1,2.31,0v4.43A1.15,1.15,0,0,1,50,74.07Z"></path>
                            <path d="M73.56,50.51H69.13a1.15,1.15,0,0,1,0-2.31h4.43a1.15,1.15,0,0,1,0,2.31Z"></path>
                            <path d="M30.87,50.51H26.44a1.15,1.15,0,0,1,0-2.31h4.43a1.15,1.15,0,0,1,0,2.31Z"></path>
                            <path d="M69.27,86.92A2.54,2.54,0,0,1,67,85.49l-4-8.25a1.15,1.15,0,1,1,2.08-1l4,8.25a.25.25,0,0,0,.27.11l1.24-.46a.25.25,0,0,0,.13-.25L68,73.77a1.15,1.15,0,0,1,2.23-.59L72.93,83.3a2.54,2.54,0,0,1-1.56,3l-1.24.46A2.47,2.47,0,0,1,69.27,86.92Z"></path>
                            <path d="M30.73,86.92a2.47,2.47,0,0,1-.86-.15l-1.24-.46a2.54,2.54,0,0,1-1.57-3l2.68-10.12a1.15,1.15,0,1,1,2.23.59L29.3,83.89a.25.25,0,0,0,.13.25l1.24.46a.25.25,0,0,0,.27-.11l4-8.25a1.15,1.15,0,0,1,2.08,1l-4,8.25A2.54,2.54,0,0,1,30.73,86.92Z"></path>
                        </svg>
                    </div>
                    <h2>Pick a Method</h2>
                    <p>Would you rather meet via Zoom or on a phone call? Zoom calls are more personal, but phone is great too!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block solidColorBg bgColorOne">
                    <div class="planingCardIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" id="1243361113" class="svg u_1243361113" data-icon-name="wp-mobile_phone_chat">
                            <g>
                                <path d="M45,16.3V13c0-1.7-1.3-3-3-3H16c-1.7,0-3,1.3-3,3v44c0,1.7,1.3,3,3,3h26c1.7,0,3-1.3,3-3V45.7c6.8-1.4,12-7.5,12-14.7
		S51.8,17.7,45,16.3z M27,13h4c0.6,0,1,0.4,1,1s-0.4,1-1,1h-4c-0.6,0-1-0.4-1-1S26.4,13,27,13z M31,57h-4c-0.6,0-1-0.4-1-1
		s0.4-1,1-1h4c0.6,0,1,0.4,1,1S31.6,57,31,57z M43,52H15V18h19.5C30,20.6,27,25.4,27,31c0,2.8,0.8,5.5,2.2,7.9l-2.2,5.8
		c-0.1,0.4,0,0.8,0.2,1.1c0.2,0.2,0.4,0.3,0.7,0.3c0.1,0,0.2,0,0.4-0.1l5.8-2.2c2.4,1.5,5.1,2.2,7.9,2.2c0.3,0,0.7,0,1-0.1V52z
		 M42,44c-2.6,0-5.1-0.8-7.2-2.2c-0.2-0.1-0.4-0.2-0.6-0.2c-0.1,0-0.2,0-0.4,0.1l-4.2,1.6l1.6-4.2c0.1-0.3,0.1-0.6-0.1-0.9
		C29.8,36.1,29,33.6,29,31c0-7.2,5.8-13,13-13s13,5.8,13,13S49.2,44,42,44z"></path>
                                <circle cx="35.5" cy="31.5" r="1.5"></circle>
                                <circle cx="42.5" cy="31.5" r="1.5"></circle>
                                <circle cx="49.5" cy="31.5" r="1.5"></circle>
                            </g>
                        </svg>
                    </div>
                    <h2>Let's Chat!</h2>
                    <p>We'll discuss what you're looking for and how we work together. You can plan for about 30 minutes.</p>
                </div>
            </div>
        </div>

        <div class="button_block">
            <a href="tel:702- 527-0939" class="common_btn">SCHEDULE DISCOVERY CALL</a>
        </div>
    </div>
</section>


<section id="section_block" class="howitWorks_section globalPartner_section">
    <div class="container">
        <div class="sectionTitle_line">
            <h2>Some of Our Global Partners</h2>
            <p>We're partners with the top travel brands around the world, allowing us to often provide free upgrades and amenities worldwide.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="partner_logo_layout">
            <div class="partner_logoGallery_row">
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/Tauck-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/Singita-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/SilverSea-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/rocco-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/relais-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/MO-4-640w.webp" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="partner_logoGallery_row">
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/four-seasons-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/AMAN-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/cunard-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/fairmont-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/AandK-4-640w.webp" alt="" /></a>
                    </div>
                </div>
                <div class="logo_logoGallery_col">
                    <div class="partnerLogo_block">
                        <a href="#"><img src="~/images/brand_logos/Beyond-4-640w.webp" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- News / Events / Blog section -->
<section id="blogSection" class="section_newsEventBlog_section newsRoomEvents_section">
    <div class="newsEvents_container">
        <div class="container">
            <div class="page_title_block d-none">
                <h4 class="subtitle d-inline-block dashed_style_right">Latest Update</h4>
                <h2>Read our latest article</h2>
            </div>

            <div class="sectionTitle_line">
                <h4>BLOG</h4>
                <h2>RECENT BLOG</h2>
            </div>

            <!-- Swiper Multiple Box Carousel-->
            <div class="swiper-container Swiper_NewsEventCarousel onHoverControl">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="featuredInfo_imgBox imgHoverEffect Info_imgBox_Left overflow-hidden">
                            <div class="imgBox_Wrap">
                                <a asp-action="News_Blog_Details"><img src="~/images/news_blog_imgs/blog_img_1-1.jpg"></a>
                            </div>

                            <div class="Info_imgBox_content">
                                <div class="infoBox_Wrap">
                                    <h4><a asp-action="News_Blog_Details"> Florence's Hidden Gem: The Reopening of the Vasari Corridor</a></h4>
                                    <p>After an eight-year hiatus, the doors to one of Florence's most exclusive and historically significant pathways are set to reopen. The Vasari Corridor, a hidden architectural marvel</p>

                                    <div class="button_group none_bgcolor">
                                        <a asp-action="News_Blog_Details" target="_blank"><span>Read More</span> <i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Swiper Multiple Box Carousel-->
        </div>
    </div>
</section>  <!-- End News / Events / Blog section -->


<section id="section_block" class="howitWorks_section whatYouGetWhen">
    <div class="container">
        <div class="sectionTitle_line">
            <h2>What You Get When You Work With Me</h2>
            <hr class="dmDivider">
        </div>

        <div class="row sectionContainer">
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerSeven">
                    <div class="secCardContainer">
                        <h2>A Tailored Approach</h2>
                        <p>Travel is personal. Your dream trip is yours alone. This is why it all starts with a Discovery Call to ensure I can craft the perfect trip for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerEight">
                    <div class="secCardContainer">
                        <h2>Personal Service & Support</h2>
                        <p> I'm not a call center and you're not a "voice on the line". You'll be working directly with me, and I care. I'm only ever a quick call or email away.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pomoText_block promoBannerNine">
                    <div class="secCardContainer">
                        <h2>Unique & Local Experiences</h2>
                        <p>We work directly with experts on the ground  all over the world, so your trip will include exceptional, intimate and unique experiences designed for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--about us section-->
<section id="section_block" class="slideBanner_section aboutCompany_section">
    <div class="swiper-container Swiper_sliderSection">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_1-2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_10-1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_9-3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/slider_img/slider_img_2-1.jpg)"></div>
        </div>

        <!-- If we need navigation buttons
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
    </div>

    <div class="container sliderOverlay_section">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="sliderOverlay_content">
                    <h2>Refined Luxe Travel</h2>
                    <p>It's time to change the way you travel. Once you plan your first trip with me, you'll experience the world in ways you never thought possible.</p>
                    <div class="button_block">
                        <a href="tel:702- 527-0939" class="common_btn">SCHEDULE DISCOVERY CALL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end about us section-->
<!--testmonials_section -->
<section id="testmonialsSection" class="clientReview_section">
    <div class="clientReviewRows">
        <div class="clientReviewCols order-lg-last">
            <div class="clientReview_image">&nbsp;</div>
        </div>
        <div class="clientReviewCols">
            <div class="clientReview_content">
                <h2>What Our Travelers Are Saying</h2>
                <div class="graphicWidget">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1664 1792" id="1528713053" class="svg u_1528713053" data-icon-name="fa-quote-right">
                        <path fill="inherit" d="M768 320v704q0 104-40.5 198.5t-109.5 163.5-163.5 109.5-198.5 40.5h-64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h64q106 0 181-75t75-181v-32q0-40-28-68t-68-28h-224q-80 0-136-56t-56-136v-384q0-80 56-136t136-56h384q80 0 136 56t56 136zM1664 320v704q0 104-40.5 198.5t-109.5 163.5-163.5 109.5-198.5 40.5h-64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h64q106 0 181-75t75-181v-32q0-40-28-68t-68-28h-224q-80 0-136-56t-56-136v-384q0-80 56-136t136-56h384q80 0 136 56t56 136z"></path>
                    </svg>
                </div>

                <div class="clientsReview_display_block">
                    <div class="swiper-container swiper_clientReviews onHoverControl">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <p>“This product brings efficiency to a new level of simplicity. I have never found a product that is so easy to use.”</p>
                                <span class="clientsInfoBlock">James Smith</span>
                            </div>
                            <div class="swiper-slide">
                                <p>“This is the best company I have ever worked with. I am recommending to all my friends and colleagues.”</p>
                                <span class="clientsInfoBlock">Kyle Black</span>
                            </div>
                            <div class="swiper-slide">
                                <p>“The service is friendly and the results are always of the highest quality. I’m sure to be a return customer.”</p>
                                <span class="clientsInfoBlock">Jemmy</span>
                            </div>
                        </div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end testmonials_section -->


<section id="contactSection" class="bottomFeedback_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bottomContact_cardPanel">
                    <div class="sectionTitle_line">
                        <div class="addressSubtitle">TRAVEL BETTER</div>
                        <div class="addressTitle">It all starts by saying "Hello"</div>
                        <hr class="dmDivider">
                    </div>

                    <p>Contact us now to schedule your free initial Discovery Call and learn how you can travel better.</p>
                    <br>
                    <p><strong>Phone :</strong> 702- 527-0939<br></p>
                    <p><strong>Email :</strong> lissa@refinedluxetravel.com<br></p>

                    <div class="followMe_info">
                        <div class="followMe_title">Follow Me:</div>
                        <div class="followMe_socialLink">
                            <a href="https://www.facebook.com/profile.php?id=61557663831718" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="bottomContactPanel">
                    <form asp-controller="Mail" asp-action="ProcessForm" role="form" class="travelFromStyle" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label asp-for="Name">Name:</label>
                            <input class="form-control" asp-for="Name" type="text"  />
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone">Phone:</label>
                            <input class="form-control" asp-for="Phone" type="text"  />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Email:</label>
                            <input class="form-control" asp-for="Email" type="text"  />
                        </div>
                        <div class="form-group">
                            <label asp-for="Date">Date:</label>
                            <input class="form-control" asp-for="Date" type="date"  />
                        </div>
                        <div class="form-group">
                            <label asp-for="Message">Message:</label>
                            <textarea asp-for="Message" class="form-control" type="text" ></textarea>
                        </div>
                        <div class="button_block">
                            <button type="submit" class="common_btn">SEND MESSAGE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
